@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVuSans.eot');
    src: url('../fonts/DejaVuSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DejaVuSans.woff2') format('woff2'),
    url('../fonts/DejaVuSans.woff') format('woff'),
    url('../fonts/DejaVuSans.ttf') format('truetype'),
    url('../fonts/DejaVuSans.svg#DejaVuSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f6f6f6;
    font-family: "Myriad Pro", helvetica, sans-serif;
}

#masthead {
    border-top: 3px solid #ba9916;
    border-bottom: 1px solid #e9e9e9;
}

#masthead > .wrap {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
}

.wpr-custom-header {
    max-width: 254px;
    line-height: 0;
}

#masthead .navigation-top {
    border: none;
    position: relative;
    width: auto;
}

.navigation-top .wrap {
    padding: 0;
}

.navigation-top a {
    padding: 2em 1em;
    font-weight: 300;
    font-size: 16px;
    color: #222;
}

.navigation-top a:hover {
    background-color: #ba9916;
    color: #FFF;
}

.admin-bar .site-navigation-fixed.navigation-top {
    top: 0;
}

.site-content-contain {
    background-color: transparent;
}

body.page-template-ba-login,
body.page-template-ba-register,
body.page-template-ba-finish-registration {
    background-size: cover;
    background: url("../images/login-register.png") no-repeat fixed top left;
}

body.page-template-ba-login #masthead,
body.page-template-ba-register #masthead {
    border-bottom: none;
}

.wpr-login-register-body,
.wpr-login-register-body a,
.wpr-login-register-body label,
#main .wpr-login-register-body .gfield_required {
    color: #FFF;
}

.wpr-login-register-body label,
.gform_button {
    font-weight: 200 !important;
}

#main .gform_button {
    background-color: #ba9916;
    text-transform: uppercase;
}

#main .gform_button:hover {
    background-color: #a8890e;
}

.site-footer {
    border: none;
}

.wpr-login-register-head {
    text-align: center;
    padding-bottom: 0;
}

.wpr-login-register-head h2 {
    color: #ba9916;
    margin-top: 120px;
    margin-bottom: 0;
    font-size: 36px;
}

.wpr-login-register-or {
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 0;
}

.wpr-login-register-or:before,
.wpr-login-register-or:after {
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.wpr-login-register-or:before {
    right: 2.5em;
    margin-left: -50%;
}

.wpr-login-register-or:after {
    left: 2.5em;
    margin-right: -50%;
}

.wpr-forgot-password {
    font-weight: 200;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 14px;
    display: inline-block;
    font-size: 15px;
}

#main .gform_wrapper .gform_footer {
    margin: 0;
}

#main .wpr-login-register-body label {
    margin-bottom: 0;
}

#main .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}

#main .gform_wrapper .top_label div.ginput_container input[type="checkbox"] {
    margin-top: -4px;
}

#main .gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
    padding: 12px 4px;
}

#main .gsection {
    border-bottom: 1px solid #ba9916;
}

#main .gsection_title {
    color: #ba9916;
    font-weight: 200;
    font-size: 24px;
}

#main .wpr-register-page {
    width: 100%;
}

#main .gform_multi_column_wrapper ul.gform_fields,
#main .gform_page_multi_column ul.gform_fields {
    padding-left: 25px;
    padding-right: 25px;
}

#main .wpr-login-register-body select,
#main select {
    height: 3em;
}

#main .gform_wrapper .chosen-container-single .chosen-single {
    height: 3em;
    padding: 12px 0 0 8px;
    border: none;
    background: #FFF;
}

#main .wpr-login-register-body .gform_wrapper .chosen-container-single .chosen-single div b {
    background-position: 0 14px;
    background-image: none !important;
}

#main .chosen-drop {
    color: #000;
}

.wpr-login-register-body ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ababab;
}

.wpr-login-register-body :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ababab;
    opacity: 1;
}

.wpr-login-register-body ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ababab;
    opacity: 1;
}

.wpr-login-register-body :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ababab;
}

.wpr-login-register-body :-ms-input-placeholder { /* Microsoft Edge */
    color: #ababab;
}

#main .wpr-register-page .gform_footer {
    margin: 20px auto auto;
    text-align: center;
}

#main .wpr-register-page .gform_footer .gform_button {
    width: 500px;
}

#main .validation_error,
#main .gfield_error {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .8);
    max-width: 100% !important;
}

#main .wpr-login-register-body select::-ms-expand,
#main select::-ms-expand {
    display: none;
}

#main .wpr-login-register-body .ginput_container_select,
#main .ginput_container_select {
    position: relative;
}

#main .ginput_container_select select:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg) scale(1, 1.8);
    -moz-transform: rotate(90deg) scale(1, 1.8);
    -ms-transform: rotate(90deg) scale(1, 1.8);
    transform: rotate(90deg) scale(1, 1.8);
    right: 11px;
    top: 18px;
    position: absolute;
    pointer-events: none;
}

#main .wpr-login-register-body .ginput_container_select:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg) scale(1, 1.8);
    -moz-transform: rotate(90deg) scale(1, 1.8);
    -ms-transform: rotate(90deg) scale(1, 1.8);
    transform: rotate(90deg) scale(1, 1.8);
    right: 11px;
    top: 18px;
    position: absolute;
    pointer-events: none;
}

#main .wpr-login-register-body select,
#main select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
}

#main .wpr-login-register-body .gform_wrapper .chosen-container.chosen-container-single[style],
#main .wpr-login-register-body .gform_wrapper div.chosen-container.chosen-container-multi[style] {
    width: 100% !important;
}

#wpr-custom-template .page-header {
    padding-bottom: 0;
    border-bottom: 1px solid #d6d6d6;
    float: left;
}

#wpr-custom-template .page-header h1,
#wpr-custom-template .page-header h3 {
    color: #ba9916;
    margin: 0 0 15px;
    float: left;
    font-size: 28px;
}

div.page-header {
    margin-bottom: 15px;
}

.wpr-add-new-offer {
    float: right;
}

.datatable_buttons {
    font-size: 14px;
    padding: 12px 28px;
    background-color: #ba9916;
    color: #FFF;
    white-space: nowrap;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 200;
    display: inline-block;
}

.edit_button {
    background-color: #ba9916;
    margin-left: 0px;
    padding: 8px 35px 5px;
    text-transform: none;
    font-size: 16px;
}

.info_button {
    padding: 4px 27px 3px 21px;
    text-transform: none;
    position: relative;
    font-size: 17px;
    border-radius: 4px;
}

.see_offer_button {
    padding: 3px 30px 3px 13px;
    text-transform: none;
    position: relative;
    font-size: 17px;
    border-radius: 3px;
    font-family: "DejaVu Sans";
}

.info_button:after,
.see_offer_button:after {
    content: '>';
    position: absolute;
    right: 6px;
    -webkit-transform: scale(0.4, 0.9);
    -moz-transform: scale(0.4, 0.9);
    -ms-transform: scale(0.4, 0.9);
    transform: scale(0.4, 0.9);
    top: 3px;
}

.datatable_buttons i {
    margin-right: 5px;
    font-size: 18px;
}

.delete_button {
    background-color: transparent;
    border: 1px solid #9d0303;
    margin-left: 2px;
    padding: 6px 28px 4px;
    text-transform: none;
    font-size: 16px;
    color: #9d0303;
}

.datatable_buttons:hover {
    background-color: #ad8c08;
    color: #FFF;
}

.delete_button:hover {
    background-color: #9d0303;
    color: #FFF;
}

.wpr_save_offer {
    width: 50%;
    font-size: 22px;
}

.dataTables_filter input {
    background: url("../images/xsellcast-search-icon.svg") no-repeat 96%;
}

.dataTables_length select {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 2.5em;
    padding: 0 10px;
}

.dataTables_length label {
    position: relative;
}

.dataTables_length label:after {
    content: "▼";
    padding: 12px 8px;
    position: absolute;
    right: 14px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    -webkit-transform: scale(1, 0.6);
    -moz-transform: scale(1, 0.6);
    -ms-transform: scale(1, 0.6);
    transform: scale(1, 0.6);
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #ba9916 !important;
    border: 1px solid #acacac;
    background: #FFF;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #FFF !important;
    background: #ba9916;
    border-color: #ba9916;
}

.dataTables_wrapper .dataTables_paginate .previous,
.dataTables_wrapper .dataTables_paginate .next {
    background: transparent !important;
    border: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .previous:hover,
.dataTables_wrapper .dataTables_paginate .previous.disabled:hover,
.dataTables_wrapper .dataTables_paginate .next:hover,
.dataTables_wrapper .dataTables_paginate .next.disabled:hover {
    color: #FFF !important;
    background: #ba9916 !important;
    border-color: #ba9916 !important;
}

#wprlistingTable {
    border-collapse: separate;
    border-spacing: 0;
}

#wprlistingTable tbody tr td,
#wprlistingTableLook tbody tr td {
    border-bottom: 10px solid #f6f6f6 !important;
}

#wprlistingTable tbody tr.parent td {
    border-bottom: 1px solid #f6f6f6 !important;
}

/*#wprlistingTable tr:first-child td:first-child {*/
/*-webkit-border-top-left-radius: 5px;*/
/*-webkit-border-bottom-left-radius: 5px;*/
/*-moz-border-radius-topleft: 5px;*/
/*-moz-border-radius-bottomleft: 5px;*/
/*border-top-left-radius: 5px;*/
/*border-bottom-left-radius: 5px;*/
/*}*/

/*#wprlistingTable tr:first-child td:last-child {*/
/*-webkit-border-top-right-radius: 5px;*/
/*-webkit-border-bottom-right-radius: 5px;*/
/*-moz-border-radius-topright: 5px;*/
/*-moz-border-radius-bottomright: 5px;*/
/*border-top-right-radius: 5px;*/
/*border-bottom-right-radius: 5px;*/
/*}*/

#wprlistingTable th,
#prospectorInfio th,
#wprlistingTableLook th {
    font-weight: 200;
    color: #878787;
}

#wprlistingTable tbody tr,
#wprlistingTable tbody tr td,
#prospectorInfio tbody tr,
#prospectorInfio tbody tr td,
#wprlistingTableLook tbody tr,
#wprlistingTableLook tbody tr td {
    background: #FFF;
    border: none;
    color: #414141;
    font-weight: 200;
}

#wprlistingTable tbody tr td:first-child,
#prospectorInfio tbody tr td:first-child,
#wprlistingTableLook tbody tr td:first-child {
    font-weight: 400;
}

#wprlistingTable.no-footer,
#wprlistingTable thead th,
#wprlistingTable thead td,
#prospectorInfio.no-footer,
#prospectorInfio thead th,
#prospectorInfio thead td,
#wprlistingTableLook.no-footer,
#wprlistingTableLook thead th,
#wprlistingTableLook thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    border: none;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 14px 14px;
}

.home .site-content {
    padding: 5.5em 0 0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    background-color: #ecebeb;
    color: #969696;
    border: none;
    top: 25%;
    height: 23px;
    width: 23px;
    line-height: 23px;
    box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
    background-color: #d6d6d6;
    color: #666666;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
    padding-left: 1em;
}

div.dataTables_wrapper {
    padding-top: 20px;
}

.wpr_edit_offer label span {
    color: #ff0b13;
}

.wpr_edit_offer input[type="file"] {
    display: none;
}

.wpr_edit_offer .custom-file-upload {
    cursor: pointer;
    display: inline-block;
}

.wpr_edit_offer .custom-file-upload span {
    background: #3d3d3f;
    color: #FFF;
    padding: 12px;
    font-weight: 200;
    text-transform: uppercase;
    display: inline-block;
}

.wpr-profile-form {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-top: 50px;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
}

ul.wpfep-tabs {
    border: none;
}

ul.wpfep-tabs li a {
    border: 1px solid #acacac;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    color: #a3a3a3;
    font-weight: 200;
    padding: 10px;
    width: 275px;
    text-align: center;
}

ul.wpfep-tabs li a.active,
ul.wpfep-tabs li a:hover {
    background: #222629;
    color: #ffffff;
}

.wpfep-wrapper,
.wpfep-wrapper label,
.wpfep-wrapper input {
    font-weight: 200;
}

#wpua-add-button #delete_avatar {
    margin-left: 10px;
    font-weight: 200;
    background: transparent;
    background: url("../images/xsellcast-my-profile.svg") no-repeat 10%;
    color: #9d0303;
    padding: 0 2em;
}

#wpua-add-button #delete_avatar:hover {
    text-decoration: underline;
}

#wpua-add-button br {
    display: none;
}

.wpfep-wrapper input[type="submit"] {
    background: #ba9916;
}

.wpfep-wrapper input[type="submit"]:hover {
    background: #ac8c0b;
}

.wpfep-fields input:focus {
    border: 1px solid #ba9916;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(186, 153, 22, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(186, 153, 22, 1);
    box-shadow: 0px 0px 5px 0px rgba(186, 153, 22, 1);
}

.wpfep-save input[type="submit"] {
    border: none;
    box-shadow: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
}

.wpfep-save input[type="submit"]:hover {
    border: none;

}

#profile {
    /*margin-top: 72px;*/
}

.wpua-edit-container .avatar_container img {
    max-height: 200px;
}

.gfield_checkbox a {
    text-decoration: underline;
}

#wpfep-field-description {
    margin-top: 200px;
}

.wpr-my-offers-header {
    display: flex;
    flex-wrap: wrap;
}

.wpr-my-offers-header h1,
.wpr-my-offers-header > div {
    flex-grow: 1;
    width: 33%;
}

.wpr-go-to-lbt {
    text-align: center;
}

.wpr-go-to-lbt img {
    width: 120px;
}

.wpr-my-offers-header .wpr-add-new-offer {
    text-align: right;
}

.homePageTitle {
    font-family: "Myriad Pro", helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    color: #ba9916;
    font-size: 36px;
}

.homePageSubTitle {
    font-family: "Myriad Pro Regular", helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    padding-top: 0px;
    margin-bottom: 50px;
}

.row {
    width: 100%;
}

.box50 {
    width: 49.4%;
    float: left;
    margin: 0 0.3%;
}

.boxContent {
    padding: 30px 0;
    border-radius: 5px;
    padding-top: 40px;
}

.boxContent30 {
    width: 30%;
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    padding-right: 20px;
}

.boxContent70 {
    width: 68%;
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
}

.boxContent.white {
    background: rgba(255, 255, 255, 0.9);
}

.boxContent.yellow {
    background: rgba(189, 157, 20, 0.9);
    color: white;
}

.homePageIcon {
    width: 45px;
}

.boxContent p {
    margin-bottom: 10px;
}

.boxContent a {
    font-weight: normal;
    text-align: left;
}

.boxContent.yellow a {
    color: white;
}

.box50:last-child {
    float: none;
    margin: 0 auto;
}

.LBT_branding {
    margin-right: auto;
}

.LBT_branding img {
    width: 120px;
    margin-top: 4px;
}

.gform_wrapper .chosen-container-single .chosen-single div b:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg) scale(1, 1.8);
    -moz-transform: rotate(90deg) scale(1, 1.8);
    -ms-transform: rotate(90deg) scale(1, 1.8);
    transform: rotate(90deg) scale(1, 1.8);
    top: 14px;
    right: 6px;
    position: absolute;
    pointer-events: none;
}

.gform_wrapper .chosen-container-single .chosen-single div b {
    background: none;
}

#main .wpr-login-register-body .ginput_container_select .chosen-container.chosen-container-single b {
    display: none;
}

.home-page-subtitle {
    border-bottom: 1px solid #ba9916;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 15px 0 15px;
}

.wpr-abc-cta {
    margin: 60px -30px 0;
}

.wpr-abc-cta > div {
    float: left;
    width: 33.333%;
    padding: 30px;
    min-width: 240px;
}

.wpr-abc-cta .wpr-abc-action {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
}

body.page-template-ba-my-offers.yachtBackground {
    background-image: url(../images/login-register.png);
}

body.page-template-ba-my-prospects.yachtBackground {
    background-image: url(../images/login-register.png);
}

#finish-registration {
    background: #000000;
}

#wpr-header-finish-registration {
    text-align: left;
}

#wpr-header-finish-registration .LBT_branding {
    float: left;
}

#wpr-header-finish-registration .LBT_branding img {
    width: 128px;
    margin-top: 18px;
}

#wpr-header-finish-registration .wpr_header_right {
    float: right;
}

.wpr_header_right h1 {
    color: #ba9916;
    font-size: 32px;
    margin: 1.2em 0;
}

.wpr-finish-registration-content {
    background-color: #FFF;
}

.wpr-finish-registration-content .wpr_qualified_enquiry {
    padding: 40px 0;
}

.wpr-finish-registration-content h2 {
    color: #343434;
}

.page-template-ba-finish-registration .site-content {
    padding: 0;
}

.wpr_ba_info_register_image {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
}

.wpr_ba_info_register_image img {
    width: auto;
    height: 100%;
    display: block;
    max-width: none;
}

.wpr_ba_info_register_info {
    display: inline-block;
    margin-left: 30px;
}

.wpr_custom_product_requet {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.wpr_lc_info_register {
    display: inline-flex;
}

.wpr_offer_info_register_image,
.wpr_offer_info_register_text {
    display: inline-block;
}

.wpr_offer_info_register_image {
    width: 150px;
}

.wpr_offer_info_register_text {
    margin-left: 30px;
}

.wpr_offer_info_register_text h2 {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

/*@media all and (max-width: 1073px) {*/
/*.wpr-custom-header {*/
/*margin-right: 0;*/
/*margin-left: auto;*/
/*}*/

/*.LBT_branding {*/
/*margin-right: auto;*/
/*margin-left: 0;*/
/*}*/
/*}*/

@media all and (max-width: 867px) {
    .edit_button {
        margin-bottom: 10px;
    }

    .wpr-abc-cta {
        width: 100%;
        text-align: center;
        margin: 40px 0 0;
    }

    .wpr-abc-cta > div {
        float: none;
        display: inline-block;
        width: auto;
        max-width: 260px;
    }
}

@media all and (max-width: 767px) {
    #masthead > .wrap {
        /*flex-flow: column;*/
    }

    .wpr-custom-header {
        margin-right: 0;
    }

    #masthead .navigation-top {
        width: 100%;
    }

    .navigation-top a {
        padding: .5em 1em;
    }

    .wpr-profile-form {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-top: 50px;
    }

    #wpfep-field-description {
        margin-top: 0;
    }

    .box50 {
        width: 100%;
        float: left;
        margin: 0 0.3%;
        margin-bottom: 10px;
    }

    .LBT_branding {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 641px) {
    #main .wpr-register-page .gform_footer .gform_button {
        width: 90%;
    }

    #main .wpr-register-page .gform_wrapper .chosen-container-single .chosen-single {
        padding: 0 0 0 8px;
    }

    #main .wpr-register-page .gform_wrapper .chosen-container-single .chosen-single div b {
        background-position: 0 6px;
    }

    .dataTables_length select,
    .wpr_save_offer {
        width: 100%;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0;
    }

    #wpfep-tabs {
        text-align: center;
    }

    #wpfep-tabs .password-tab {
        margin-top: 10px;
    }

    .wpr-my-offers-header h1,
    .wpr-my-offers-header > div {
        width: 100%;
        text-align: center;
    }

    .wpr-my-offers-header .wpr-add-new-offer {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 550px) {
    .wpr-login-register-body {
        width: 100%;
    }

    #wpua-add-button .avatar_container,
    #wpua-add-button #delete_avatar {
        float: none;
    }

    #wpua-add-button .avatar_container {
        max-width: 100%;
    }
}

@media all and (max-width: 460px) {
    #wpr-custom-template .page-header {
        text-align: center;
    }

    #wpr-custom-template .page-header h1,
    #wpr-custom-template .page-header h3,
    .wpr-add-new-offer {
        float: none;
    }

    .wpr-add-new-offer {
        margin-bottom: 10px;
    }
}
