.lbt-hide {
	display: none !important;
}

.lbt-wrap .form-inner {
	width: 300px;
}

.lbt-wrap,
.lbt-wrap .form-row input[type=number] {
	font-size: 0.8rem;
	min-height: 25px;
}

.lbt-wrap .form-row  {
	margin-bottom: 5px;
}

.lbt-wrap .form-row span {
    display: inline-block;
}
