@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  #main_header .header_container {
    .logo_container {
      display: inline-block;
      float: left;
      width: 35% !important;
      a {
        display: inline-block;
        img {
          display: inline-block;
        }
      }
    }
    .menu_container {
      display: inline-block;
      float: left;
      width: 65%;
      margin-top: 5px;
      .ubermenu-main .ubermenu-item-level-0 .ubermenu-target .ubermenu-target-text {
        max-width: 70px;
      }
    }
  }
  .wpr-header-content {
    .wpr-header-industries {
      display: flex;
      display: -webkit-flex; /* Safari */
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }
  }
  .site-content.comming-soon-page {
    .wpr-vast-selection {
      .wpr-coming-selection-content {
        -webkit-flex-wrap: wrap;
      }
    }
    .wpr-coming-salesman {
      .wpr-coming-salesman-content {
        div {
          min-height: 150px;
        }
      }
    }
  }
}
