@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  #main_header .header_container .logo_container {
    display: none; }
  #main_header .header_container .menu_container {
    display: none; } }
