.hentry--list {
  margin-bottom: 0;
  padding-bottom: ms(3);
  &.flag {
    display: block;
    @include bp(480px) {
      display: table;
    }
  }
  &:after {
    border: 0;
  }
  .flag-img {
    display: block;
    padding-bottom: ms(1);
    padding-right: 0;
    @include bp(480px) {
      display: table-cell;
      padding-bottom: 0;
      padding-right: ms(2);
    }
  }
  .entry-image {
    margin-bottom: 0;
    img {
      border-radius: 50%;
      display: inline-block;
      @include bp(480px) {
        display: block;
      }
    }
  }
  .flag-bd {
    display: block;
    @include bp(480px) {
      display: table-cell;
    }
  }
  .entry-title {
    font-size: ms(2);
    @include bp(480px) {
      text-align: left;
    }
  }
  .entry-meta {
    @include bp(480px) {
      text-align: left;
      span {
        margin-left: 0;
        margin-right: ms(-2);
      }
    }
  }
  .entry-footer {
    margin-top: ms(-2);
    @include bp(480px) {
      text-align: left;
      span {
        margin-left: 0;
        margin-right: ms(-2);
      }
    }
  }
  .entry-share {
    margin-top: ms(-2);
    @include bp(480px) {
      a {
        font-size: ms(-1);
        margin-left: 0;
        margin-right: ms(-2);
      }
    }
  }
  .entry-content {
    margin-top: ms(-3);
    p {
      font-size: ms(-1);
    }
  }
}
