.layout-grid {

  .content-area {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    margin-bottom: 0;
  }

  .site-main {
    margin-left: - ms(-1);
    margin-right: - ms(-1);
  }

  .page-header {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(100,100,100,0.15);
    padding: ms(2);
    margin-left: ms(-1);
    margin-right: ms(-1);
    margin-bottom: ms(1);

    @include bp(480px) {
      margin-bottom: ms(2);
    }
    @include bp-small() {
      margin-bottom: ms(4);
    }
    &:after {
      content: none;
    }
    & :last-child {
      margin-bottom: 0;
    }
  }

  .page-content {
    margin-left: ms(0);
    margin-right: ms(0);
    text-align: center;
    .search-field {
      background-color: #fff;
    }
  }

  .navigation {
    clear: both;
    margin-bottom: 0;
  }
  .posts-navigation {
    padding: 20px ms(-1) 0;
  }

  .entry-meta .cat-links a {
    border: 0;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 3px 0;
    &:hover {
      opacity: 0.8;
    }
  }

}

.hentry--grid {
  float: left;
  width: 100%;
  position: relative;
  padding: 0 ms(-1);
  margin-bottom: ms(-1) + ms(-1);

  &:after {
    content: none;
  }
  @include bp(480px) {
    width: 50%;
    &:nth-of-type(2n+1) {
      clear: both;
    }
  }
  @include bp-medium {
    width: 33.333%;
    &:nth-of-type(2n+1) {
      clear: none;
    }
    &:nth-of-type(3n+1) {
      clear: both;
    }
  }

  .entry-wrap {
    box-shadow: 0 1px 3px rgba(100,100,100,0.15);
  }

  .entry-image,
  .slider-gallery {
    position: relative;
    display: block;
    margin-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      z-index: 5;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      // background: rgba(213, 179, 115, 0.6);
      background: linear-gradient(to bottom, rgba(186,154,100,0.1) 0%, rgba(94,76,42,0.4) 100%);
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
  }
  &:hover {
    .entry-image,
    .slider-gallery {
      &:after {
        opacity: 0.2;
      }
    }
  }
  .entry-image {
    img {
      width: 100%;
    }
  }
  .slider-gallery {
    margin-bottom: 0;
  }

  .entry-header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: ms(-1);
    right: ms(-1);
    padding: ms(0);
  }

  .entry-title {
    font-weight: 300;
    font-size: ms(2);
    padding-bottom: 0;
    border-bottom: none;
    a {
      color: #fff;
      &:hover {
        color: #fff;
        opacity: 0.8;
      }
    }
  }

  .entry-share {
    margin-top: ms(0);
    a {
      font-size: ms(-1);
      @include bp-medium {
        margin-right: ms(-4);
      }
      @include bp-large {
        margin-right: ms(-2);
      }
    }
  }

  .entry-footer {
    padding: ms(0);
    margin-top: 0;
    background-color: #fff;
    @include bp-large {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: ms(-1);
      right: ms(-1);
    }
  }
}
