// Calculate pixel value in em
@function em($target, $context: 16) {
  @return ($target / $context) * 1em;
}

@mixin bp-small {
  @media only screen and (min-width: $bp-small) {
    @content;
  }
}
@mixin bp-medium {
  @media only screen and (min-width: $bp-medium) {
    @content;
  }
}
@mixin bp-large {
  @media only screen and (min-width: $bp-large) {
    @content;
  }
}
@mixin bp($bp) {
  @media only screen and (min-width: $bp) {
    @content;
  }
}
@mixin bph($bp) {
  @media only screen and (min-height: $bp) {
    @content;
  }
}

@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
%cf {
  @include cf;
}


@mixin hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%hide-visually {
  @include hide-visually;
}

@mixin list-unstyled {
  list-style: none;
  margin-left: 0;
}
