/* -------------------------------------------------------------------------------- */
/*  =Modular scale
/* -------------------------------------------------------------------------------- */

$ms-base: 17px;
$ms-ratio: 1.333;


/* -------------------------------------------------------------------------------- */
/*  =Breakpoints
/* -------------------------------------------------------------------------------- */

$bp-small: em(803);
$bp-medium: em(992);
$bp-large: em(1280);


/* -------------------------------------------------------------------------------- */
/*  =Typography
/* -------------------------------------------------------------------------------- */

$serif: Lora, serif;
$sans-serif: 'Lato', sans-serif;
