/* -------------------------------------------------------------------------------- */
/*  =Table of contents
-----------------------------------------------------------------------------------
    =Imports
    =Typography
    =General
    =Content
    =Plugins
    =Helpers
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*  =Imports
/* -------------------------------------------------------------------------------- */

@import 'mixins', 'normalize', 'variables', 'modular-scale', 'underscores', 'genericons';


/* -------------------------------------------------------------------------------- */
/*  =Typography
/* -------------------------------------------------------------------------------- */

body, button, input, select, textarea {
  font-family: $sans-serif;
}


/* -------------------------------------------------------------------------------- */
/*  =General
/* -------------------------------------------------------------------------------- */

body {
  background-color: #f1f1ee;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
p,ul,ol,dl {
  margin-top: 0;
}
figure {
  margin: 0;
}
:focus {
  outline-width: 2px;
  outline-color: #C3C2CB;
}
a {
  color: #554348;
  text-decoration: none;
  transition: color 0.15s ease-out;
  will-change: color;

  // &:visited { color: #C2516F; }
  &:hover, &:active {
    outline: 0;
    color: #423F37;
    -webkit-tap-highlight-color: rgba(129, 115, 107, 0.2);
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    text-decoration: none;
  }
}
::selection {
  background: rgba(129, 115, 107, 0.2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(129, 115, 107, 0.2); /* Gecko Browsers */
}

.container {
  @extend %cf;
  width: 90%;
  margin: 0 auto;
  clear: both;
  position: relative;

  @include bp-small {
    width: ms(13);
  }
  @include bp-medium {
    // width: (ms(12) + ms(9) + ms(4));
    width: 930px;
  }

  @include bp-large {
    width: 1068px;
  }
}


/* Media block --------------------------------------- */

.media {}
.media, .media-bd { overflow:hidden; _overflow:visible; zoom:1; }
.media-img { float:left; margin-right: ms(1); }
.media-img img { display:block; }
.media-img-right { float:right; margin-left: ms(1); }


/* Flag block --------------------------------------- */

.flag {
  display: table;
  width: 100%;
}
  .flag-img,
  .flag-bd {
    display: table-cell;
    vertical-align: middle;
    .flag--top & {
      vertical-align: top;
    }
    .flag--bottom & {
      vertical-align: bottom;
    }
  }
  .flag-img {
    padding-right: ms(1);
    img {
      display: block;
      max-width: none;
    }
    .flag--rev & {
      padding-right: 0;
      padding-left: ms(1);
    }
  }
  .flag-bd {
    width: 100%;
  }


/* Buttons --------------------------------------- */

.btn,
a.btn,
input.btn,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-radius: 2px;
  border: none;
  background: #4f4f4f;
  color: #fff;
  display: inline-block;
  font-size: ms(-1);
  font-family: $sans-serif;
  padding: ms(-3) ms(-1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: 0;
  line-height: 1.5;
  -webkit-appearance: none;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
  &:hover,
  &:focus {
    color: #fff;
    background: #646464;
    cursor: pointer;
  }
  // sizes
  &.btn--sm { font-size: ms(-2); }
  &.btn--md { font-size: ms(0); }
  &.btn--lg { font-size: ms(1); }
  &.btn--xl { font-size: ms(3); }
  // styles
  &.btn--transparent {
    background-color: transparent;
    color: #4f4f4f;
    border: 2px solid #4f4f4f;
    &:hover {
      background-color: #646464;
      color: #fff;
      border-color: #646464;
    }
  }
}
a.btn--block,
input.btn--block {
  display: block;
  width: 100%;
}

/* Forms --------------------------------------- */

label {
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"],
input[type="date"],
input[type="search"],
input[type="number"],
textarea {
  background-color: #f1f1ee;
  border: 2px solid #e8e8e0;
  border-radius: 2px;
  font-size: 15px;
  padding: ms(-3) ms(-2);
  -webkit-appearance: none;
  transition: border-color 0.15s ease-out, background-color 0.15s ease-out;

  &:focus {
    outline: 0;
    border-color: #d2d2c8;
  }
}
input[type="search"] {
  box-sizing: border-box;
}
textarea {
  resize: none;
}
  /* Comment form --------------------------------------- */
  .comment-form {
    label {
      display: inline-block;
      width: ms(8);
    }
    input[type="text"],
    input[type="email"],
    input[type="url"] {
      width: 100%;
      margin-top: ms(-2);
      @include bp(566px) {
        margin-top: 0;
        max-width: ms(10);
      }
    }
    textarea {
      margin-top: ms(-2);
    }
  }
  /* Contact Form 7 --------------------------------------- */
  .wpcf7-form {
    font-family: $sans-serif;
  }
  span.wpcf7-form-control-wrap {
    display: block;
    margin-top: ms(-2);
  }
  span.wpcf7-not-valid-tip {
    color: #AF312D;
    margin-top: ms(-2);
  }
  div.wpcf7-response-output {
    margin: ms(0) 0;
    padding: ms(-3) ms(-2);
    border: 0;
  }
  div.wpcf7-validation-errors {
    background-color: #F2EC8F;
  }
  div.wpcf7-mail-sent-ok {
    background-color: #C6F4C8;
  }
  .wpcf7-text,
  .wpcf7-date {
    width: 100%;
    max-width: ms(11);
  }
  .wpcf7-textarea {
    width: 100%;
  }
  .wpcf7-submit {
    margin-right: ms(0);
  }
  div.wpcf7 img.ajax-loader {
    margin-left: ms(-3);
  }


/* -------------------------------------------------------------------------------- */
/*  =Content
/* -------------------------------------------------------------------------------- */

.site-content {
  // background-color: #f5f5f5;
  background-color: #f1f1ee;
  padding-top: ms(1);
  padding-bottom: ms(1);

  @include bp(480px) {
    padding-top: ms(2);
    padding-bottom: ms(2);
  }
  @include bp(739px) {
    padding-top: ms(4);
    padding-bottom: ms(4);
  }

  .custom-background & {
    background: transparent;
  }
}

.content-area {
  width: 100%;
  padding: ms(0);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(100,100,100,0.15);
  margin-bottom: ms(4);
  @include bp(480px) {
    padding: ms(2);
  }
  @include bp(739px) {
    padding: ms(4);
  }
  @include bp-small {
    width: ms(13);
    margin: 0 auto ms(4);
  }
  @include bp-medium {
    float: right;
    width: 600px;
    padding: ms(3);
    margin-bottom: 0;
  }
  @include bp-large {
    padding: ms(4);
    width: ms(13);
  }
}

.widget-area {
  width: 100%;
  @include bp(480px) {
    margin: 0 auto;
    width: ms(11);
  }
  @include bp-medium {
    width: ms(10);
    float: left;
  }
}

.site-header {
}
.site-footer {
  background-color: #f1f1ee;
  padding-top: ms(4);
  padding-bottom: ms(4);
}
.site-info {
  font-size: 12px;
  color: #a5a5a5;
  text-align: center;
  @include bp(480px) {
    float: left;
    text-align: left;
  }
}

.site-branding {
  clear: both;
  padding: (ms(3)+53px) ms(2) ms(3);
  box-shadow: inset 0 -1px 3px rgba(100,100,100,.15);
  background: url('../images/temp-header.jpg') 50% 50% no-repeat;
  background-size: cover;
  @include bp(600px) {
    padding: (ms(4)+54px) ms(2) ms(4);
  }
  @include bp-medium {
    padding: (ms(5)+54px) ms(2) ms(5);
  }
  .featured-posts-visible & {
    @include bp(600px) {
      padding: (ms(4) + ms(4)) ms(2) (ms(4) + ms(2));
    }
    @include bp-medium {
      padding: 116px ms(2) 120px;
    }
  }
  & :last-child {
    margin-bottom: 0;
  }
}
.site-title {
  font-size: ms(3);
  text-align: center;
  margin-bottom: ms(-1);
  line-height: 1.1;
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(100,100,100,0.75);
  @include bp(480px) {
    font-size: ms(4);
  }
  @include bp-medium {
    font-size: ms(5);
  }
  a {
    color: #fff;
    transition: opacity 0.15s ease-out;
    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }
}
.site-description {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  font-size: ms(0);
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(100,100,100,0.75);
  @include bp(480px) {
    font-size: ms(1);
  }
}

.site-nav-bar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(32,32,32,0.9);
  transition: all .4s cubic-bezier(0.22, 0.61, 0.36, 1);

  .admin-bar & {
    position: absolute;
    @include bp(600px) {
      position: fixed;
    }
  }

  &.site-nav-bar--sticky-transparent {
    background-color: transparent;
    .tiny & {
      background-color: rgba(32,32,32,0.9);
    }
    .container {
      border-bottom: 1px solid rgba(255,255,255,0.5);
      .tiny & {
        border-bottom: 0;
      }
    }
  }
  &.site-nav-bar--regular {
    position: absolute;
    background-color: rgba(32,32,32,0.9);
  }
  &.site-nav-bar--transparent {
    position: absolute;
    background-color: transparent;
    .container {
      border-bottom: 1px solid rgba(255,255,255,0.5);
    }
  }
}

.social-networks {
  display: block;
  margin-bottom: ms(-1);
  clear: both;
  text-align: center;
  @include bp(480px) {
    margin-bottom: 0;
    clear: none;
    float: right;
  }
  a {
    display: inline-block;
    margin-right: ms(-5);
    margin-left: ms(-5);
    @include bp(480px) {
      margin-right: 0;
      margin-left: ms(-4);
    }
  }
  .genericon {
    font-size: ms(0);
  }
}

.search-toggle {
  float: right;
  font-size: 31px;
  color: #fff;
  padding-top: 14px;
  transition: opacity 0.15s ease-out;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}
.site-search {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  text-align: center;
  padding: ms(4) ms(2) 0;
  opacity: 0;
  left: -999em;
  transition: opacity 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  .search-form {
    position: relative;
    width: 100%;
    @include bp-small {
      width: ms(13);
      margin: 0 auto;
    }
  }
  .search-field {
    font-size: ms(2);
    width: 100%;
    border: 0;
    padding-right: ms(3);
    border-bottom: 3px solid #f2f2f2;
    background-color: transparent;
    @include bp-small {
      font-size: ms(4);
      padding-right: ms(4);
    }
  }
  .search-visible & {
    opacity: 0.95;
    left: auto;
  }
}

.site-search-close {
  font-size: ms(3);
  position: absolute;
  z-index: 1;
  right: 0;
  top: 14px;
  display: block;
  @include bp-small {
    font-size: 64px;
    top: 24px;
  }
}

.search-submit {
  clear: both;
}

.footer-navigation {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: ms(-1);
  margin-bottom: ms(1);
  @include bp(480px) {
    margin-bottom: ms(-1);
  }
  ul {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
    @include bp(480px) {
      text-align: left;
    }
    li {
      display: inline-block;
      margin-left: ms(-3);
      margin-right: ms(-3);
      @include bp(480px) {
        margin-left: 0;
        margin-right: ms(-1);
      }
      a {
        font-size: 14px;
      }
    }
  }
}

/* Posts --------------------------------------- */

.hentry {
  position: relative;
  margin-bottom: ms(2) + ms(0);
  padding-bottom: ms(0);
  @include bp-small {
    margin-bottom: ms(5);
    padding-bottom: ms(3);
  }
  &:after {
    content: '';
    width: 20%;
    left: 40%;
    border-bottom: 1px solid #f2f2f2;
    position: absolute;
    bottom: 0;
  }
  .single & {
    padding-bottom: 0;
    &:after {
      content: none;
    }
  }
  &.page,
  &.attachment {
    padding-bottom: 0;
    margin-bottom: 0;
    &:after {
      content: none;
    }
  }
}

.entry-title {
  font-size: ms(2);
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 0;
  color: #646464;
  padding-bottom: 8px;
  border-bottom: 2px solid #daaa29;
  @include bp-small {
    font-size: ms(3);
  }
  a {
    color: #646464;
    &:hover {
      color: #7e7e7e;
    }
  }
}

.entry-meta {
  font-size: ms(-1);
  text-transform: uppercase;
  margin-bottom: ms(-2);
  color: #a5a5a5;
  span {
    display: inline-block;
    margin-right: ms(-2);
  }
  .cat-links {
    a {
      display: inline-block;
      background-color: #4f4f4f;
      padding: 3px 7px;
      margin-right: 4px;
      color: #fff;
      transition: background-color 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
      &:hover {
        background-color: #6E6E6E;
      }
    }
  }
}

// Featured image
.entry-image {
  margin-bottom: ms(2);
  text-align: center;
  a {
    text-decoration: underline;
    img {
      transition: opacity 0.15s ease-out;
    }
    &:hover img { opacity: 0.85; }
  }
  img {
    display: block;
  }
}

// Post content
.entry-content,
.entry-summary,
.comment-body {
  margin-top: ms(2);
  h1, h2, h3, h4, h5, h6 {
    color: #646464;
    margin-bottom: ms(-2);
    font-family: $sans-serif;
    font-weight: 300;
  }
  h1 {
    font-size: ms(2);
    @include bp-small {
      font-size: ms(3);
    }
  }
  h2 {
    font-size: ms(1);
    @include bp-small {
      font-size: ms(2);
    }
  }
  h3 {
    font-size: ms(0);
    @include bp-small {
      font-size: ms(1);
    }
  }
  h4 {
    font-size: ms(-1);
    @include bp-small {
      font-size: ms(0);
    }
  }

  a {
    text-decoration: underline;
    img { transition: opacity 0.15s ease-out; }
    &:hover img { opacity: 0.85; }
  }
  .btn { text-decoration: none; }

  p,
  ul,
  ol,
  dl {
    font-size: ms(-1);
    margin-bottom: ms(1);
    line-height: 1.6;
    @include bp-small {
      font-size: 15px;
      margin-bottom: ms(1);
    }
  }
  ul,
  ol {
    margin-left: 0;
    padding-left: ms(2);
    ul,
    ol {
      margin-top: ms(-2);
    }
    li {
      margin-bottom: ms(-2);
    }
    & :last-child {
      margin-bottom: 0;
    }
  }
  dl {
    dt {
      margin-bottom: ms(-2);
    }
    dd {
      margin: 0 ms(2) ms(2);
    }
    & :last-child {
      margin-bottom: 0;
    }
  }
  blockquote,
  q {
    // border-left: 4px solid #f2f2f2;
    padding-left: ms(1);
    padding-right: ms(1);
    margin: 0 0 ms(2);
    font-style: italic;
    color: #888;
    p {
      font-size: 23px;
    }
  }
  figure {
    margin-bottom: 1.777em;
  }
  table {
    font-size: ms(-1);
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-width: 1px 0 0 1px;
    border-collapse: separate;
    border-spacing: 0;
    @include bp-small {
      font-size: 15px;
    }
    th,
    td {
      padding: ms(-2);
      border: 1px solid rgba(51, 51, 51, 0.1);
      border-width: 0 1px 1px 0;
    }
  }
  address {
    font-size: ms(-1);
    @include bp-small {
      font-size: 15px;
    }
  }
  pre, code, kbd, tt, var {
    font-size: ms(-1);
    @include bp-small {
      font-size: 15px;
    }
  }
  code {
    padding: ms(-5) ms(-4);
    background-color: #F1F1F1;
  }
  pre {
    background-color: #f1f1f1;
  }
}
.entry-content {
  .single & > p:first-child,
  .page & > p:first-child {
    font-size: 15px;
    color: #888;
    font-style: italic;
    @include bp-small {
      font-size: 18px;
    }
  }
}

/* Archives / Search / 404 --------------------------------------- */

.page-header {
  position: relative;
  margin-bottom: ms(4);
  padding-bottom: ms(1);

  &:after {
    content: '';
    width: 18%;
    left: 41%;
    border-bottom: 1px solid #f2f2f2;
    position: absolute;
    bottom: 0;
  }
}
.page-title {
  font-size: ms(3);
  font-weight: 300;
  text-align: center;
  color: #646464;
  margin-bottom: 0;
  .avatar {
    border-radius: 50%;
  }
}
.taxonomy-description {
  font-size: ms(0);
  text-align: center;
  color: #a5a5a5;
}

.page-content {
  position: relative;
  p {
    font-size: ms(0);
    text-align: center;
  }
  .search-form {
    text-align: center;
    label {
      width: 100%;
      text-align: center;
      display: block;
    }
  }
  .search-field {
    width: 50%;
    margin-bottom: 17px;
  }
  .search-submit {
    height: 39px;
    width: 20%;
  }
}

// Read more link
.more-link-wrap {
  display: block;
  text-align: left;
}
.more-link {
  @extend .btn;
}

// Multi page links
.page-links {
  font-size: ms(0);
}

// Entry details
.entry-footer {
  font-size: ms(-1);
  color: #A5A5A5;
  margin-top: ms(-2);
  span {
    display: inline-block;
    margin-right: ms(-2);
  }
}

// Share links
.entry-share {
  text-align: center;
  margin-bottom: ms(2);
  padding-top: ms(0);
  .page & {
    margin-bottom: 0;
  }
  a {
    font-size: ms(0);
    margin-bottom: ms(-2);
    margin-right: ms(-2);
    padding: ms(-3);
    border: 1px solid #f2f2f2;
    background-color: #fff;
    transition: background-color 0.15s cubic-bezier(0.22, 0.61, 0.36, 1), border-color 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
    &:hover {
      color: #fff;
    }
    @include bp(400px) {
      margin-bottom: 0;
    }
  }
  .genericon-facebook-alt:hover {
    background-color: #3b5998;
    border-color: #3b5998;
  }
  .genericon-twitter:hover {
    background-color: #4099FF;
    border-color: #4099FF;
  }
  .genericon-linkedin:hover {
    background-color: #4875B4;
    border-color: #4875B4;
  }
  .genericon-googleplus:hover {
    background-color: #C63D2D;
    border-color: #C63D2D;
  }
  .genericon-pinterest:hover {
    background-color: #C92228;
    border-color: #C92228;
  }
  .genericon-reddit:hover {
    background-color: #5f99cf;
    border-color: #5f99cf;
  }
  .genericon-mail:hover {
    background-color: #ccc;
    border-color: #ccc;
  }
}

// Image captions
.gallery-caption,
.wp-caption-text {
  font-size: ms(-1);
  font-family: $sans-serif;
}

// Post formats
.mejs-container,
.wp-audio-shortcode,
.video-player,
.tiled-gallery {
  margin-bottom: ms(2);
}
.format-link,
.format-gallery {
  .entry-image {
    margin-bottom: 0;
    min-width: 150px;
    span {
      font-size: 128px;
      color: #a5a5a5;
    }
  }
  .single & {
    .entry-image {
      margin-bottom: ms(2);
    }
  }
}

// Author details
.entry-author {
  margin-bottom: ms(2);
  padding-top: ms(2);
  border-top: 1px solid #f2f2f2;
}
.entry-author-img {
  display: block;
  text-align: center;
  float: none;
  text-align: center;
  margin-right: 0;
  @include bp(480px) {
    margin-right: ms(2);
    float: left;
  }
  .avatar {
    display: inline-block;
    margin-bottom: ms(0);
    border-radius: 50%;
    @include bp(480px) {
      display: block;
    }
  }
}
.entry-author-name {
  font-size: ms(0);
  margin-bottom: ms(-2);
  text-align: center;
  @include bp(480px) {
    text-align: left;
  }
}
.entry-author-content {
  p {
    font-size: ms(-1);
    line-height: 1.6;
    color: #a5a5a5;
  }
  & :last-child {
    margin-bottom: 0;
  }
}


/* Layout styles --------------------------------------- */

// Sidebar right
@import 'layout-sidebar-right';
// List view
@import 'layout-list';
// Grid view
@import 'layout-grid';
// Masonry view
@import 'layout-masonry';
// Full width view
@import 'layout-full-width';


// Related posts
.related-posts {
}
.related-posts-title {
  color: #646464;
  font-size: ms(1);
  font-weight: 300;
  text-align: center;
  display: block;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e8e8e8;
    bottom: 0.05em;
    height: 0.3em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e8e8e8;
  }
  &:before {
    right: 0.5em;
    margin-left: -50%;
  }
  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
.related-posts-list {
  @include list-unstyled;
  padding-left: 0;
  li {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: ms(1);
    @include bp(480px) {
      padding: 0 2%;
      width: 33.333%;
      margin-bottom: 0;
    }
    .related-post-link {
      display: inline-block;
      img {
        transition: opacity 0.15s ease-out;
        border-radius: 50%;
      }
      &:hover img {
        opacity: 0.8;
      }
    }
    .related-post-title {
      margin-top: ms(-2);
      margin-bottom: 0;
      font-size: ms(0);
    }
  }
}

// Posts navigation
.navigation {
  font-size: ms(0);
  clear: both;
}

.post-navigation {
  margin-bottom: ms(5);
}

.posts-navigation {
  a {
    @extend .btn;
    // font-size: ms(-1);
  }
}

.widget {
  margin-bottom: ms(3);
  ul,
  ol {
    @include list-unstyled;
    padding-left: 0;
    font-size: ms(-1);
    line-height: 1.6;
    li {
      margin-bottom: ms(-1);
      padding-bottom: ms(-1);
      border-bottom: 1px solid #e8e8e8;
    }
    ul,
    ol {
      padding-left: ms(-1);
      padding-top: ms(-1);
      & li:first-child {
        border-top: 1px solid #e8e8e8;
        padding-top: ms(-1);
      }
      & li:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  ol {
    list-style-type: decimal;
  }
  p {
    font-size: ms(-1);
    line-height: 1.6;
  }
  .widget-area &:last-child {
    margin-bottom: 0;
  }
}
.widget-title {
  color: #646464;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 22px;
  padding-bottom: 6px;
  border-bottom: 2px solid #daaa29;
}

.widget-area-footer-full-width {
  margin-bottom: 0;
  background-color: #fff;

  .widget {
    @extend %cf;
    margin-bottom: 0;
    ul {
      margin-bottom: 0;
    }
  }
  .widget-title {
    text-align: center;
  }
}

.widget-area-footer {
  background-color: #fff;
  padding-top: ms(4);
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  .widget {
    width: 100%;
    @include bp(480px) {
      margin-left: auto;
      margin-right: auto;
      width: 401px;
    }
    @include bp-medium {
      padding: 0 ms(-1);
      float: left;
      width: 33.333%;
    }
  }
}
.widget-area-footer-wrap {
  @extend %cf;
  @include bp-medium {
    margin-left: - ms(-1);
    margin-right: - ms(-1);
  }
}

.widget_search {
  label {
    display: block;
  }
  input[type="search"] {
    width: 100%;
    font-size: ms(-1);
  }
}
.widget_recent_entries {
  .post-date {
    color: #a5a5a5;
    display: block;
  }
}
.widget_recent_comments {
  .recentcomments > a,
  .comment-author-link {
  }
}

.widget_tag_cloud {
  .tagcloud {
    @extend %cf;
  }
  a {
    position: relative;
    float: left;
    padding: 1px 8px 2px;
    border-radius: 0 4px 4px 0;
    background: #554348;
    color: #fff;
    margin: 0 6px 8px 11px;
    font-weight: 700;
    font-size: 13px !important;
    transition: none;
    &:hover {
      background: #423F37;
      color: #fff;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -2px;
      top: 50%;
      margin-top: -2px;
      width: 4px;
      height: 4px;
      background: #fff;
      border-radius: 99px;
      -moz-border-radius: 99px;
      -webkit-border-radius: 99px;
      z-index: 10;
    }
    &:hover:before {
      background: #fff;
    }
    &:after {
      content: '';
      height: 0;
      position: absolute;
      top: 0;
      left: -11px;
      width: 0;
      border-top: 11px solid transparent;
      border-right: 11px solid #554348;
      border-bottom: 11px solid transparent;
    }
    &:hover:after {
      border-right-color: #423F37;
    }
  }
}

.textwidget {
  font-size: ms(-1);
}
.widget-about-content {
}
.widget-about-image {
  margin-bottom: ms(0);
  text-align: center;
}

.widget_cta {
  text-align: center;
  .widget-cta-wrap {
    padding: ms(5) 0;
    background-color: #f1f1ee;
  }
  .cta-title {
    font-weight: 300;
    font-size: ms(2);
    margin-bottom: 0;
    @include bp-small {
      font-size: ms(3);
    }
  }
  .cta-subtitle {
    font-size: ms(0);
    margin-bottom: 0;
  }
  .btn {
    margin-top: ms(0);
  }
}

.null-instagram-feed {
  ul {
    @extend %cf;
    li {
      float: left;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      width: 50%;
      a {
        display: block;
        transition: opacity 0.15s ease-out;
        &:hover {
          opacity: 0.8;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .widget-area-footer-full-width & {
      li {
        width: 25%;
        @include bp-small {
          width: 12.5%;
        }
      }
    }
  }
  p {
    a {
      @extend .btn;
    }
  }
}

.widget_flickr_photos {
  .flickr-wrap {
    @extend %cf;
  }
  .flickr_badge_image {
    float: left;
    width: 75px;
    a {
      display: block;
      transition: opacity 0.15s ease-out;
      &:hover {
        opacity: 0.8;
      }
      img {
        display: block;
      }
    }
  }
}

.widget_contact_info {
  .contact-map,
  .confit-address,
  .confit-phone,
  .confit-hours {
    margin-bottom: ms(-2);
    font-size: ms(-1);
  }
}

.widget_posts_list {
  .flag-img {
    padding-right: ms(-1);
    a {
      img {
        transition: opacity 0.15s ease-out;
      }
      &:hover img {
        opacity: 0.8;
      }
    }
  }
  .post-title {
    margin-bottom: 0;
    font-size: ms(-1);
  }
  .posted-on {
    color: #A5A5A5;
    font-size: ms(-1);
  }
  .posts_list--rounded {
    .flag-img {
      img {
        width: ms(4);
        border-radius: 50%;
      }
    }
  }
  .posts_list--rounded-big {
    .post-title {
      font-size: 15px;
    }
    .flag-img {
      img {
        width: ms(6);
        border-radius: 50%;
      }
    }
  }
  .posts_list--squared {
    .flag-img {
      img {
        width: ms(4);
      }
    }
  }
  .posts_list--squared-big {
    .post-title {
      font-size: 15px;
    }
    .flag-img {
      img {
        width: ms(6);
      }
    }
  }
}

.widget_latest_comments {
  @extend .widget_posts_list;
  .post-title {
    a {
      display: block;
    }
  }
}

.widget_social_media {
  a { // .square default
    display: inline-block;
    font-size: ms(0);
    margin-right: 9px;
    margin-bottom: 12px;
    padding: ms(-3);
    color: #fff;
    background-color: #f1f1ee;
    transition: background-color 0.15s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.15s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
    &:hover {
      opacity: 0.85;
    }
    &[class*="round"] {
      border-radius: 0.15em;
    }
    &[class*="-big"] {
      font-size: ms(1);
    }
    &[class*="circle"] {
      border-radius: 50%;
    }
  }
  .genericon-facebook-alt { background-color: #3b5998; }
  .genericon-twitter { background-color: #4099FF; }
  .genericon-linkedin { background-color: #4875B4; }
  .genericon-googleplus { background-color: #C63D2D; }
  .genericon-pinterest { background-color: #C92228; }
  .genericon-dribbble { background-color: #ea4c89; }
  .genericon-github { background-color: #4183c4; }
  .genericon-vimeo { background-color: #1ab7ea; }
  .genericon-youtube { background-color: #bb0000; }
  .genericon-tumblr { background-color: #35465c; }
  .genericon-reddit { background-color: #5f99cf; }
  .genericon-instagram { background-color: #3f729b; }
}

.comments-area {
  margin-top: ms(5);
}

.comments-title {
  font-size: ms(1);
  font-weight: 300;
  margin-bottom: ms(3);
  padding-bottom: 8px;
  border-bottom: 2px solid #e8e8e8;
  @include bp-small {
    font-size: ms(2);
  }
}

.comment-list {
  @include list-unstyled;
  padding-left: 0;
  margin-bottom: ms(3);
  .children {
    padding-left: 0;
    margin-top: ms(3);
    margin-left: 0;
    @include bp-small {
      margin-left: ms(2);
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}
.comment {
  margin-bottom: ms(3);
  &:focus {
    outline: 0;
  }
  // &.parent {
  //   margin-bottom: 0;
  // }
}
.comment-body {
  margin-top: 0;
}
.comment-author {
  float: none;
  text-align: center;
  margin-bottom: ms(0);
  margin-right: 0;
  @include bp(480px) {
    float: left;
    text-align: left;
    margin-right: ms(2);
    margin-bottom: 0;
  }
  a {
    display: inline-block;
  }
  .avatar {
    border-radius: 50%;
  }
}
.comment-meta {
  font-size: ms(-1);
  font-family: $sans-serif;
  padding-bottom: ms(-3);
  border-bottom: 1px solid #f2f2f2;
  a {
    text-decoration: none;
  }
  span {
    display: inline-block;
    margin-right: ms(0);
  }
  .fn {
    font-style: normal;
  }
  .comment-date {
    color: #A5A5A5;
  }
  .comment-reply {
    float: right;
    margin-right: 0;
  }
  .comment-awaiting-moderation {
    color: #A5A5A5;
  }
}
.comment-respond {
  margin-top: ms(3);
  p {
    font-size: ms(-1);
  }
}
.comment-reply-title {
  color: #646464;
  font-size: ms(1);
  font-weight: 300;
  small {
    font-size: 15px;
    float: right;
    font-weight: 400;
  }
}
.comment-reply-link,
.comment-reply-login {
  text-transform: uppercase;
  font-size: ms(-1);
  display: inline-block;
}

.comment-form {
  .form-submit {
    margin-bottom: 0;
  }
  // Jetpack
  .comment-subscription-form {
    margin-top: 1.5em;
  }
}


// Jetpack - Tilled gallery
.tiled-gallery {
  margin-bottom: ms(2) !important;
  .tiled-gallery-caption {
    font-family: $sans-serif;
  }
}

// Jetpack - Infinite scroll
.site-main #infinite-handle {
  clear: both;
  text-align: center;
  margin-bottom: ms(3);
}
.site-main #infinite-handle span {
  border-radius: 0;
  border: 2px solid #a5a5a5;
  background: transparent;
  color: #646464;
  display: inline-block;
  font-size: ms(-1);
  padding: ms(-4) ms(-1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: 0;
  line-height: 1.5;
  -webkit-appearance: none;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out;
  &:hover,
  &:focus {
    color: #fff;
    background: #646464;
    border-color: #646464;
    cursor: pointer;
  }
  button:focus {
    outline: 0;
  }
}
.infinite-loader {
  clear: both;
  width: 36px;
  margin: 0 auto ms(4);
}


/* -------------------------------------------------------------------------------- */
/*  =Plugins
/* -------------------------------------------------------------------------------- */

@import 'magnific-popup';

/* overlay at start */
.mfp-novus.mfp-bg {
  background-color: #101010;
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-novus.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-novus.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-novus.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-novus.mfp-wrap.mfp-ready {
  .mfp-content {
    opacity: 1;
  }
}
/* content animate out */
.mfp-novus.mfp-wrap.mfp-removing {
  .mfp-content,
  .mfp-arrow {
    opacity: 0;
  }
}
.mfp-novus {
  .mfp-container {
    padding-left: 14px;
    padding-right: 14px;
    @include bp(901px) {
      padding-left: 88px;
      padding-right: 88px;
    }
  }
  .mfp-figure:after {
    box-shadow: 0 0 14px rgba(0,0,0,.3);
  }
  .mfp-close {
    color: #333;
  }

  .mfp-preloader {
    color: #4f4f4f;
    a {
      color: #4f4f4f;
      &:hover {
        color: #4f4f4f;
      }
    }
  }

  .mfp-arrow {
    opacity: 0.8;
    transform: scale(1);
    transition: opacity 0.15s ease-out;
    &:focus {
      opacity: 0.8;
    }
    &:hover {
      opacity: 1;
    }
  }
  .mfp-arrow:after {
    border-top-width: 25px;
    border-bottom-width: 25px;
    top: -6px;
  }
  .mfp-arrow-left:before,
  .mfp-arrow-right:before {
    border: 0;
  }
  .mfp-arrow-left:after {
    border-right-color: #fff;
  }
  .mfp-arrow-right:after {
    border-left-color: #fff;
  }
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

@import 'slick', 'slick-theme';

.slider-gallery {
  position: relative;
  margin-bottom: ms(2);
  &:hover {
    .slider-arrow {
      opacity: 1;
    }
  }
  .slider-arrow {
    position: absolute;
    display: block;
    text-align: center;
    z-index: 10;
    top: ms(0);
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    text-decoration: none;
    padding: 7px 12px 4px;
    opacity: 0;
    transition: opacity 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: #646464;
    }
  }
  .slider-arrow-prev {
    right: 68px;
    padding-left: 2px;
  }
  .slider-arrow-next {
    right: ms(0);
    padding-right: 2px;
  }
}
.format-gallery:hover {
  .slider-arrow {
    opacity: 1;
  }
}
// Featured posts
.featured-posts {
  @extend .slider-gallery;
  overflow: hidden;
  max-height: 430px;
  margin-bottom: ms(1);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(100,100,100,0.15);
  @include bp(480px) {
    margin-bottom: ms(2);
  }
  @include bp(600px) {
    margin-top: -66px;
  }
  @include bp(739px) {
    margin-bottom: ms(4);
    margin-top: -90px;
  }
  @include bp-medium {
    height: 262px;
    margin-top: -120px;
  }
  @include bp-large {
    height: 300px;
  }

  .slider-arrow {
    top: auto;
    bottom: ms(1);
    margin-top: -18px;
  }
  .slider-arrow-prev {
    right: auto;
    left: ms(1);
    @include bp-medium {
      left: 407px;
    }
    @include bp-large {
      left: 476px;
    }
  }
  .slider-arrow-next {
    right: ms(1);
    @include bp-medium {
      right: 407px;
    }
    @include bp-large {
      right: 476px;
    }
  }
  .entry-meta .cat-links a {
    border: 0;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 3px 0;
    &:hover {
      opacity: 0.8;
    }
  }
}
.featured-posts--boxed {
  padding: ms(0);
  @include bp(480px) {
    padding: ms(0);
  }
  @include bp-medium {
    height: 286px;
  }
  @include bp-large {
    height: 325px;
  }
  .slider-arrow-prev {
    right: auto;
    left: ms(1);
    @include bp-medium {
      left: 392px;
    }
    @include bp-large {
      left: 461px;
    }
  }
  .slider-arrow-next {
    right: ms(1);
    @include bp-medium {
      right: 392px;
    }
    @include bp-large {
      right: 461px;
    }
  }
}
.featured-posts-list {
  @include list-unstyled;
  padding-left: 0;
  margin-bottom: 0;
  li {
    position: relative;
    overflow: hidden;
    background: #337b88;
    text-align: center;
    @include bp(713px) {
      width: 50%;
    }
    img {
      position: relative;
      display: block;
      // min-height: 100%;
      max-width: 100%;
      width: 100%;
      opacity: 0.8;
      z-index: 1;
    }
  }
}
.featured-post-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  backface-visibility: hidden;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }
  &::before,
  &::after {
    pointer-events: none;
  }
}
.featured-post-title {
  color: #fff;
  margin-bottom: ms(-4);
  font-size: ms(2);
  font-weight: 300;
  line-height: 1.1;
  @include bp(600px) {
    font-size: ms(3);
  }
  @include bp-medium() {
    font-size: ms(2);
  }
  @include bp-large() {
    font-size: ms(3);
  }
}
.featured-post-excerpt {
  font-size: ms(-1);
  color: #fff;
  @include bp(600px) {
    font-size: 16px;
  }
}

li.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}
li.effect-chico:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

li.effect-chico .featured-post-content {
  padding: ms(3);
}

li.effect-chico .featured-post-content::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  // content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

li.effect-chico .featured-post-content::before,
li.effect-chico .featured-post-excerpt {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

li.effect-chico h2 {
  padding: 20px 0;
}

li.effect-chico .featured-post-excerpt {
  color: #fff;
  margin: 0 auto;
  max-width: 320px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

li.effect-chico:hover .featured-post-content::before,
li.effect-chico:hover .featured-post-excerpt {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.loader-status {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border: 3px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  animation: scale-fade 1s cubic-bezier(0.22, 0.61, 0.36, 1) infinite both;
}
.loader-status-small {
  position: absolute;
  z-index: 1;
  background-color: #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  animation: rotate-small 2s cubic-bezier(0.22, 0.61, 0.36, 1) infinite both;
}
@keyframes rotate {
  50% {
    opacity: 0;
  }
}
@keyframes scale-fade {
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
@keyframes rotate-small {
  50% {
    opacity: 0.5;
  }
}

//
// WooCommerce
//
// Remove loader overlapping
.woocommerce .blockUI.blockOverlay:before, .woocommerce .loader:before {
  display: none;
}
// Header link
.cart-contents {
  color: #fff;
  float: right;
  padding-top: 17px;
  padding-right: 17px;
  font-size: 15px;
  transition: opacity .15s ease-out;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
  .genericon-cart {
    font-size: 24px;
  }
}
.woocommerce span.onsale {
  box-sizing: content-box;
  background-color: #daaa29;
  z-index: 100;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #daaa29;
}
// Three product columns
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  text-align: center;
  @include bp(769px) {
    width: 30.75%;
  }
}
// Product images
.woocommerce ul.products li.product a .alt-image {
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0.88);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
}
.woocommerce ul.products li.product a:hover .alt-image {
  opacity: 1;
  transform: scale(1);
}
// Star rating
.woocommerce ul.products li.product .star-rating {
  display: inline-block;
}
.woocommerce .quantity .qty {
  padding-top: 4px;
  padding-bottom: 3px;
}
.related.products {
  margin-bottom: -48px;
}
.woocommerce a.added_to_cart {
  margin-left: 5px;
}
// Cart table
.woocommerce table.shop_table th {
  border: 0;
}
.woocommerce table.shop_table td {
  border-width: 1px 0 0 0;
  padding: 12px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
  width: 120px !important;
  padding-top: 3px;
  padding-bottom: 4px;
  margin-right: 12px;
  border-width: 2px;
}
.woocommerce-cart table.cart input {
  line-height: inherit !important;
}
// Buttons
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  @extend .btn;
  font-weight: 400;
  &:hover,
  &:focus {
    color: #fff;
    background: #646464;
    cursor: pointer;
  }
}
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
  color: #fff;
}
// Cart totals table
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
  border-width: 1px 0 0 0;
}
.woocommerce-cart .cart-collaterals .cart_totals .order-total td,
.woocommerce-cart .cart-collaterals .cart_totals .order-total th {
  border-bottom-width: 1px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  display: block;
}
.woocommerce a.remove {
  color: #DA2929 !important;
  &:hover {
    background-color: #DA2929;
  }
}
// Select2
.select2-container .select2-choice {
  border-width: 2px;
}
.select2-drop, .select2-drop-active {
  border-width: 2px;
}
// Alerts and Messages
.woocommerce .woocommerce-error {
  border-color: #DA2929;
  &:before {
    color: #DA2929;
  }
}
.woocommerce-info {
  border-top-color: #2993DA;
  &:before {
    color: #2993DA;
  }
}
// Site notice
p.demo_store {
  top: auto;
  bottom: 0;
}



/* -------------------------------------------------------------------------------- */
/*  =Helpers
/* -------------------------------------------------------------------------------- */

.ta-l { text-align: left; }
.ta-r { text-align: right; }
.fl-l { float: left; }
.fl-r { float: right; }

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
