/* Base */
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.clear {
    clear: both;
}

.plugin {
    margin: 0;
    padding: 0 0 20px 0;
    background-color: transparent;
    font-size: 12px;
    color: #333;
    font-family: Tahoma, Kalimati, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva, Arial, Helvetica, Sans-serif;
}

.plugin #content {
    overflow: hidden;
}

.plugin #providers {
    float: none !important;
    position: relative;
}

.plugin #providers .providers_group {
    float: none !important;
}

.plugin #providers .providers_group.hidden {
    display: none;
}

.plugin #providers .providers_group .providers_block {
    overflow: hidden;
    clear: both;
    padding: 0 20px;
}

.plugin #providers.providers_unpaginated .providers_group .providers_block {
    padding: 0 !important;
}

.plugin #providers .providers_group .providers_block .providers_row {
    clear: both;
}

.plugin #providers .providers_group .scroll {
    height: 100%;
    min-height: 100%;
    cursor: pointer;
    position: absolute;
    width: 20px;
    bottom: 0;
    top: 0;
}

.plugin #ie #providers .providers_group .scroll {
    top: 30% !important;
}

.plugin #providers .providers_group .scroll.scroll_left {
    left: 0;
}

.plugin #providers .providers_group .scroll.scroll_right {
    right: 0;
}

.plugin #providers .providers_group .scroll div {
    position: relative;
    background: url("https://secure.oneallcdn.com/img/api/themes/assets/arrows_lr.png") no-repeat scroll 0 50% transparent;
    height: 100%;
    margin: 0 auto !important;
}

.plugin #ie #providers .providers_group .scroll div {
    margin-top: 0 !important;
}

.plugin #providers .providers_group .scroll.scroll_right div {
    background-position: -50px 50%;
}

.plugin #providers .providers_group .scroll.scroll_right:hover div {
    background-position: -10px 50%;
}

.plugin #providers .providers_group .scroll.scroll_left div {
    background-position: -130px 50%;
}

.plugin #providers .providers_group .scroll.scroll_left:hover div {
    background-position: -90px 50%;
}

.plugin #providers .provider {
    float: none !important;
    margin: 0 auto !important;
    outline: 0 none;
}

.plugin #providers .provider .button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9998;
    outline: 0 none;
}

.plugin #providers .provider .button .tick {
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    z-index: 9999;
}

.plugin #providers .provider .name {
    color: #555;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    margin: 1px 0 2px;
}

.plugin #providers .provider .button > span {
    font-size: 14px !important;
    height: auto !important;
}

.plugin #providers .provider_linked .button .tick {
    background: url("https://secure.oneallcdn.com/img/api/themes/assets/tick.png") no-repeat 0 0 transparent;
}

.plugin #providers .provider_linked .name {
    font-weight: bold;
}

.plugin .footer {
    margin-top: 5px;
    font-size: 10px;
    position: fixed;
    left: 5px;
    right: 0;
    bottom: 0;
    line-height: 16px;
}

.plugin .footer #message {
    display: none;
    cursor: pointer;
}

.plugin .footer #message.notice {
    color: #000;
}

.plugin .footer #message.error {
    color: #ff0000;
}

.plugin .footer #branding {
    color: #666;
}

.plugin .footer #branding a {
    color: #555;
    text-decoration: none;
}

.plugin .footer #branding a span.plugin_title {
    color: #3366CC;
}

/* Custom */
.plugin #providers .provider {
    width: 178px !important;
    padding: 2px 4px 4px 2px;
}

.plugin #providers .provider .button {
    background-image: url("https://secure.oneallcdn.com/img/api/themes/iconsets/flat_w32_h32_w_b_v1.png");
    background-repeat: no-repeat;
    color: white;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 35px;
    text-align: left;
    text-decoration: none;
    width: 143px !important;
}

.plugin #providers .provider {
    opacity: 0.9;
}

.plugin #providers .provider:hover {
    opacity: 1;
}

.plugin #providers .providers_group .scroll div {
    margin: 0 auto !important;
}

.plugin #providers .provider .name {
    border-left: 1px solid rgba(255, 255, 255, 0.22);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 29px;
    margin: -31px 0 0 35px;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    width: 132px;
    z-index: 9999;
}

.plugin #providers .provider .button .tick {
    right: -4px;
}

/* Buttons */
.plugin #providers .provider #button_amazon {
    background-position: 2px -47px;
    background-color: #FF9900;
}

.plugin #providers .provider #button_aol {
    background-position: 2px -141px;
    background-color: #000000;
}

.plugin #providers .provider #button_blogger {
    background-position: 2px -235px;
    background-color: #F57D00;
}

.plugin #providers .provider #button_deviantart {
    background-position: 2px -329px;
    background-color: #4B5;
}

.plugin #providers .provider #button_digg {
    background-position: 2px -423px;
    background-color: #14589E;
}

.plugin #providers .provider #button_disqus {
    background-position: 2px -517px;
    background-color: #36D794;
}

.plugin #providers .provider #button_draugiem {
    background-position: 2px -611px;
    background-color: #FF6600;
}

.plugin #providers .provider #button_dribbble {
    background-position: 2px -705px;
    background-color: #EA4C89;
}

.plugin #providers .provider #button_facebook {
    background-position: 2px -1175px;
    background-color: #3B5998;
}

.plugin #providers .provider #button_flickr {
    background-position: 2px -1269px;
    background-color: #0063DB;
}

.plugin #providers .provider #button_foursquare {
    background-position: 2px -1363px;
    background-color: #2398C9;
}

.plugin #providers .provider #button_github {
    background-position: 2px -1457px;
    background-color: #4183C4;
}

.plugin #providers .provider #button_google {
    background-position: 2px -1551px;
    background-color: #245DC1;
}

.plugin #providers .provider #button_googleplus {
    background-position: 2px -1645px;
    background-color: #D14836;
}

.plugin #providers .provider #button_instagram {
    background-position: 2px -1739px;
    background-color: #3F729B;
}

.plugin #providers .provider #button_linkedin {
    background-position: 2px -1834px;
    background-color: #007FB1;
}

.plugin #providers .provider #button_livejournal {
    background-position: 2px -1927px;
    background-color: #195397;
}

.plugin #providers .provider #button_mailru {
    background-position: 2px -2021px;
    background-color: #134785;
}

.plugin #providers .provider #button_myspace {
    background-position: 2px -1739px;
    background-color: #008DDE;
}

.plugin #providers .provider #button_netlog {
    background-position: 2px -1833px;
    background-color: #000000;
}

.plugin #providers .provider #button_odnoklassniki {
    background-position: 2px -2396px;
    background-color: #E77924;
}

.plugin #providers .provider #button_openid {
    background-position: 2px -2491px;
    background-color: #F7931E;
}

.plugin #providers .provider #button_paypal {
    background-position: 2px -2584px;
    background-color: #1F356F;
}

.plugin #providers .provider #button_pinterest {
    background-position: 2px -2209px;
    background-color: #CB2027;
}

.plugin #providers .provider #button_reddit {
    background-position: 2px -2772px;
    background-color: #FF4500;
}

.plugin #providers .provider #button_skyrock {
    background-position: 2px -2866px;
    background-color: #009AFF;
}

.plugin #providers .provider #button_spotify {
    background-position: 2px -2491px;
    background-color: #80B719;
}

.plugin #providers .provider #button_stackexchange {
    background-position: 2px -3053px;
    background-color: #1F5196;
}

.plugin #providers .provider #button_steam {
    background-position: 2px -3147px;
    background-color: #000000;
}

.plugin #providers .provider #button_tencentqq {
    background-position: 2px -2773px;
    background-color: #000;
}

.plugin #providers .provider #button_tumblr {
    background-position: 2px -2867px;
    background-color: #2C4762;
}

.plugin #providers .provider #button_twitch {
    background-position: 2px -3430px;
    background-color: #6441A5;
}

.plugin #providers .provider #button_twitter {
    background-position: 2px -3524px;
    background-color: #00ACED;
}

.plugin #providers .provider #button_typepad {
    background-position: 2px -3149px;
    background-color: #000;
}

.plugin #providers .provider #button_verisign {
    background-position: 2px -3243px;
    background-color: #FFC10C;
}

.plugin #providers .provider #button_viadeo {
    background-position: 2px -3337px;
    background-color: #F4982B;
}

.plugin #providers .provider #button_vimeo {
    background-position: 2px -3900px;
    background-color: #44BBFF;
}

.plugin #providers .provider #button_vine {
    background-position: 2px -3525px;
    background-color: #00A47A;
}

.plugin #providers .provider #button_vk {
    background-position: 2px -3619px;
    background-color: #45668E;
}

.plugin #providers .provider #button_vkontakte {
    background-position: 2px -4088px;
    background-color: #45668E;
}

.plugin #providers .provider #button_windowslive {
    background-position: 2px -2115px;
    background-color: #00BDF6;
}

.plugin #providers .provider #button_wordpress {
    background-position: 2px -4370px;
    background-color: #21759B
}

.plugin #providers .provider #button_yahoo {
    background-position: 2px -4558px;
    background-color: #731A8B;
}

.plugin #providers .provider #button_youtube {
    background-position: 2px -4652px;
    background-color: #CD332D;
}

.plugin #providers .provider #button_battlenet {
    background-position: 2px -4745px;
    background-color: #000000;
}

.plugin #providers .provider #button_pinterest {
    background-position: 2px -2209px;
    background-color: #CB2027;
}

.plugin #providers .provider #button_pixelpin {
    background-position: 2px -4836px;
    background-color: #000000;
}

.plugin #providers .provider #button_storage {
    background-position: 2px -4927px;
    background-color: #717171;
}

.plugin #providers .provider #button_meetup {
    background-position: 2px -5939px;
    background-color: #ED1C40;
}

.plugin #providers .provider #button_xing {
    background-color: #007575;
    background-position: 2px -4463px;
}

.plugin #providers .provider #button_line {
    background-position: 2px -6031px;
    background-color: #5cbb2b;
}

.plugin #providers .provider #button_soundcloud {
    background-position: 2px -6124px;
    background-color: #FF7200;
}