body {
  /*background-color: #f1f1ee;*/
}
.bg {
  display: block;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%
}
.bg img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%
}
.login {
  padding-top: 5%;
  padding-bottom: 5%;
  height: auto;
}
#login {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
  padding: 48px 24px;
  border-radius: 5px;
  z-index: 10;
  position: relative;
}
.login h1 a {
  background-image: url('assets/images/login-logo.svg');
  width: 100%;
  height: 35px;
  -webkit-background-size: auto;
  background-size: auto;
}

.login form {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 26px;
  padding-top: 0;
}

input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
  border-color: #e8be5c;
  -webkit-box-shadow: 0 0 2px rgba(232, 190, 92, 0.8);
  box-shadow: 0 0 2px rgba(232, 190, 92, 0.8);
}
.login .button-primary {
  background-color: #e8be5c;
  border-color: #e8be5c;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: none;
}
.login .button-primary:hover,
.login .button-primary:active,
.login .button-primary:focus {
  background-color: #646464;
  border-color: #646464;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.login .submit {
  text-align: center;
  clear: both;
}
#login .forgetmenot {
  margin-bottom: 16px;
}

.login h1 a {
  border-bottom: 1px solid #e8be5c;
}
.login .message {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  text-align: center;
}
.login #backtoblog a:hover,
.login #nav a:hover {
  color: #646464;
}

#backtoblog,
#nav {
  text-align: center;
}


/* -------------------------------------------------------------------------------- */
/*  =Plugins
/* -------------------------------------------------------------------------------- */

.avatar_container img {
  width: 100%;
}
.avatar_container .icon-edit {
  color: #e8be5c;
}
.wpua-edit-container h3 {
  font-weight: 400;
  font-size: 14px;
  color: #777;
}
#ci-modal {
  background-color: #646464;
}


#login input[class^="cimy_uef"] {
  width: 100%;
  margin-right: 0;
}



.wp-social-login-widget {
  padding-top: 15px;
}
/*
* Customize 'Connect with:' label
*/
.wp-social-login-connect-with {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.wp-social-login-provider-list {
  text-align: center;
}

/*
* Customize the providers buttons
*/
.wp-social-login-provider, .wp-social-login-provider:hover {
  display: inline-block;
  height: 46px;
  width: 202px;
  margin: 5px;
  color: transparent; /* this will hide the providers names */
}

/*
* Set the providers buttons urls.
*
* Note: change these urls with yours
*/
.wp-social-login-provider-facebook {
  font-weight: normal;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  padding: 12px 12px 12px 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 146px;
  height: 22px;
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.wp-social-login-provider-facebook > :first-child {
  position: absolute;
  left: 6px;
  top: 6px;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
}

.wp-social-login-provider-facebook:focus,
.wp-social-login-provider-facebook.focus {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-facebook:active,
.wp-social-login-provider-facebook.active {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-facebook:active:hover,
.wp-social-login-provider-facebook.active:hover,
.wp-social-login-provider-facebook:active:focus,
.wp-social-login-provider-facebook.active:focus,
.wp-social-login-provider-facebook:active.focus,
.wp-social-login-provider-facebook.active.focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-facebook:active,
.wp-social-login-provider-facebook.active {
  background-image: none
}

.wp-social-login-provider-facebook .badge {
  color: #3b5998;
  background-color: #fff;
  width: 146px;
  height: 22px;
}
/*
* Add linkedin css button
*/
.wp-social-login-provider-linkedin {
  margin: 5px;
  font-weight: normal;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  padding: 12px 12px 12px 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 146px;
  height: 22px;
  color: #fff;
  background-color: #007bb6;
  border-color: rgba(0, 0, 0, 0.2)
}

.wp-social-login-provider-linkedin > :first-child {
  position: absolute;
  left: 6px;
  top: 6px;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
}

.wp-social-login-provider-linkedin:focus,
.wp-social-login-provider-linkedin.focus {
  color: #fff;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-linkedin:hover {
  color: #fff;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-linkedin:active,
.wp-social-login-provider-linkedin.active {
  color: #fff;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-linkedin:active:hover,
.wp-social-login-provider-linkedin.active:hover,
.wp-social-login-provider-linkedin:active:focus,
.wp-social-login-provider-linkedin.active:focus,
.wp-social-login-provider-linkedin:active.focus,
.wp-social-login-provider-linkedin.active.focus {
  color: #fff;
  background-color: #00405f;
  border-color: rgba(0, 0, 0, 0.2);
  width: 146px;
  height: 22px;
}

.wp-social-login-provider-linkedin:active,
.wp-social-login-provider-linkedin.active {
  background-image: none
}
