/*
 Theme Name:   Xsellcast Theme
 Description:  Xsellcast Theme
 Author:       WPRiders
 Author URI:   http://wpriders.com
 Template:     twentyseventeen
 Version:      1.3
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
.site-content .page-header {
    width: 100% !important;
}

.site-content #primary {
    float: left;
    width: 100%;
}

#wprlistingTable_wrapper {
    margin-top: 20px;
}

.wpr_edit_offer {
    float: left;
    width: 100%;
    margin-top: 15px;
}

#displayProspectorLookbook {
    margin-top: 30px;
}

.logged-in .wpr-logged {
    display: none !important;
}

.wpr-logged-in {
    display: none !important;
}

.logged-in .wpr-logged-in {
    display: inline-block !important;
}

.wpr-url {
    font-weight: bold;
    text-decoration: underline;
}

.has-header-image .custom-header-media img {
    height: auto;
    position: relative;
    object-fit: none !important;
}

.custom-header-media::before {
    background: transparent;
}

.site-header {
    background-color: #FFF;
}

.site-branding {
    padding: 4em 0;
}

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
    color: #222;
}

select {
    height: 2em;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: center !important;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    padding: 0.4em;
}

.wp-editor-wrap {
    border: 1px solid #bbb;
}

.site-header {
    width: 100%;
    text-align: center;
    /*min-height: 200px;*/
}

.wpfep-field label,
.wpfep-field p.description,
.wpfep-save input[type="submit"] {
    font-size: 1rem;
}

#user_title {
    height: auto !important;
}

.wpr-login-register-body {
    text-align: center;
}

.wpr-login-register-body {
    width: 460px;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

.wpr-login-register-body-wrapper {
    height: 100%;
    display: table-row;
    position: relative;
}

.wpr-login-register-body-content {
    height: 100%;
    vertical-align: middle;
    position: relative;
}

.wpr-login-register-body-divider-wide {
    position: absolute;
    border-right: 1px solid #e7e7e7;
    top: 24px;
    bottom: 24px;
    left: 50%;
}

.wpr_register_social {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row wrap;
}

.wpr_social_login_left {
    text-align: left;
}

.wpr-login-register-body-content-inner {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.wpr-login-register-form {
    padding-top: 15px;
    padding-bottom: 19px;
    flex: 1 1 50%;
}

.wpr-login-register-form .gform_wrapper {
    margin: auto;
}

.wpr-login-register-form .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
}

#main .wpr-login-register-form .gform_wrapper input {
    width: 100%;
}

.wpr-login-register-social {
    padding-bottom: 4px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.wpr-login-register-body-footer {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}

.wpr-account a {
    text-decoration: underline;
}

#wpr_please_accept {
    color: #FF0000;
}

#wpr_register_social a {
    text-decoration: underline;
}

.wpr_h1_under {
    font-size: 22px;
    color: #ba9916;
}

.wpr_offer_info_register_text h2 {
    margin-top: 15px;
    margin-bottom: 0;
}
/*
* Add linkedin css button
*/
.wp-social-login-provider-linkedin {
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    padding: 16px 12px 12px 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 202px;
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 5px;
    font-weight: 200;
}

.wp-social-login-provider-linkedin > :first-child {
    position: absolute;
    left: 6px;
    top: 6px;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
}

.wp-social-login-provider-linkedin:focus,
.wp-social-login-provider-linkedin.focus {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2)
}

.wp-social-login-provider-linkedin:hover {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2)
}

.wp-social-login-provider-linkedin:active,
.wp-social-login-provider-linkedin.active {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2)
}

.wp-social-login-provider-linkedin:active:hover,
.wp-social-login-provider-linkedin.active:hover,
.wp-social-login-provider-linkedin:active:focus,
.wp-social-login-provider-linkedin.active:focus,
.wp-social-login-provider-linkedin:active.focus,
.wp-social-login-provider-linkedin.active.focus {
    color: #fff;
    background-color: #00405f;
    border-color: rgba(0, 0, 0, 0.2)
}

.wp-social-login-provider-linkedin:active,
.wp-social-login-provider-linkedin.active {
    background-image: none
}

.wpr-login-register-body-class #content {
    padding: 0;
}

.wpr-add-avatar {
    color: red;
}

.wpr-csr-info {
    display: flex;
    margin-right: auto;
}

.wpr-csr-avatar {
    width: 55px;
}

.wpr-csr-avatar > img {
    height: 50px !important;
    width: auto !important;
    display: block !important;
}

.wpr-csr-phone {
    font-size: 13px;
    margin-right: 10px;
}

@media screen and (min-width: 48em) {
    .twentyseventeen-front-page.has-header-image .custom-header-media, .twentyseventeen-front-page.has-header-video .custom-header-media, .home.blog.has-header-image .custom-header-media, .home.blog.has-header-video .custom-header-media {
        height: auto !important;
    }
}

@media screen and (max-width: 480px) {
    .has-header-image.twentyseventeen-front-page .custom-header, .has-header-video.twentyseventeen-front-page .custom-header, .has-header-image.home.blog .custom-header, .has-header-video.home.blog .custom-header {
        height: auto !important;
    }
}

.menu-scroll-down {
    display: none !important;
}

/*@media screen and (max-width: 1072px) {*/
    /*#masthead .navigation-top {*/
        /*width: 100% !important;*/
        /*display: inline-flex;*/
    /*}*/

    /*.wpr-csr-info {*/
        /*margin-right: 0;*/
    /*}*/
/*}*/

@media screen and (max-width: 767px) {
    .wpr-login-register {
        width: 100%;
    }

    .wpr-login-register-body {
        height: auto;
        display: block;
        padding: 10px;
    }

    .wpr-login-register-body-divider-wide {
        display: none;
    }

    #masthead .navigation-top {
        width: 100% !important;
        display: block;
    }
}

@media screen and (max-width: 664px) {
    .wpr-login-register-body-wrapper,
    .wpr-login-register-body-content,
    .wpr-login-register-body-content-inner {
        display: block;
    }
}
