.item-1{
	display: grid;
	grid-template-columns: 90px auto;
	justify-content: center;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}
.title-1{
	font-size: 16px !important;
	color: #191919 !important;
	line-height: 16px;
	font-weight: 400 !important;
	margin-bottom: 10px;
}
.item-1 p{
	font-size: 14px;
	color: #202124;
}
h2{
	margin-bottom: 0px;
}
.item-big img{
	margin-bottom: 15px;
}
.item-big .title-3{
	margin-bottom: 5px;
	line-height: 1.2;
	margin-bottom: 13px;
}

.item-1 a{
	color: #191919;
}
.item-1 p a{
	color: #000;
	font-weight: normal;
	font-weight: 400;
	white-space: nowrap;
}
.title-2{
	font-size: 24px;
	color: #000000;
}
.title-3, .title-3 a{
	color: #191919 !important;
	font-size: 24px !important;
	text-overflow: ellipsis;
	position: relative;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-transform: capitalize;
}
.title-3{
	margin-bottom: 0px;
}
.item-big{
	display: grid;
}
.item-big p span{
	font-size: 14px;
	color: #000;
}
.item-big p{
	font-size: 14px;
	color: #000;
	margin-bottom: 13px;
}
.item-big .author{
	margin-bottom: 10px;
}
.item-big .author a{
	color: #375999;
	font-weight: 400;
}
.item-big p b{
	font-size: 14px;
	color: #202124;
	font-weight: 400 !important;
}
.item-big a{
	color: #000;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
}

.item-2cols{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 15px;
	overflow: hidden;
	grid-row-gap: 15px;
}
.post-size{
	width: 90px;
	height: 90px;
	object-fit: cover;
}
.post-size2{
	width: 90px;
	height: 90px;
	object-fit: cover;
}
.post-medium{
	height: 275px;
	object-fit: cover;
	min-width: 100%;
}
.post-medium-2{
	height: 130px;
	width: 225px;
	min-width: 225px;
	object-fit: cover;
}
.news-letter{
	display: grid;
	grid-template-columns: 60% auto;
	justify-content: center;
}
.news-letter button{
	background: #375999;
	color: #fff;
	border: none;
	padding: 10px 30px;
	font-size: 14px;
}
.news-letter input{
	padding: 10px 20px;
	outline: none;
	border-radius: 0;
}
.news-letter input:focus{
	outline: none;
}
.categories .title-1{
	text-transform: uppercase;
	line-height: 12px;
}
.categories .item-1 p{
	line-height: 18px;
}
.search-field{
	background: #fff !important;
	border-color: #e1e1e1 !important;
	border: none !important;
}
.search-form label::after{
	content: url(search-icon.png);
	margin-top: 8px;
}
.search-form label {
	display: grid;
	grid-template-columns: auto 50px;
	align-items: center;
	border: 1px solid #e1e1e1;
	justify-items: center;
}

.item-5{
	display: flex;
	grid-column-gap: 15px;
}
.descripcion{
	margin-bottom: 0px !important;
}
.art-3{
	min-height: 140px;
}
.jw-controlbar{
	display: none !important;
}
.prop .item-1{
	grid-template-columns: auto;
}
.news-letter button .far{
	margin-right: 5px;
}
@media only screen and (max-width: 550px){
	.item-2cols{
		grid-template-columns: auto;
	}
}
