@font-face{
    font-family:"FranklinITCProLight";
    font-display:swap;
    src:url(../fonts/franklin/ITC_Franklin-Light.eot);
    src:url(../fonts/franklin/ITC_Franklin-Light.woff2) format("woff2"),url(../fonts/franklin/ITC_Franklin-Light.woff) format("woff");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"Barlow";
    font-display:swap;
    src:url(../fonts/BarlowSemiCondensed-Regular.eot);
    src:url(../fonts/BarlowSemiCondensed-Regular.woff2) format("woff2"),url(../fonts/BarlowSemiCondensed-Regular.woff) format("woff");
    font-style:normal;
    font-weight:normal
}
body {
    margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.wrap-content {
    padding: 10px;
    margin: 0;
}
.wrap-content iframe iframe {
    width: 90%;
    height: 90%;
}
.wrap-content{
    text-align: center;
    font-family: 'Barlow', sans-serif;
}
iframe .wrap-content a{
    display: block;
    text-align: left;
}
.wrap-content p:empty {
    display: none;
    height:0px !important;
}

.wrap-content img {
    width: 100%;
    height: auto;
    margin: 0;
}


.wrap-content > .content {
    padding: 0px 10px;
    display:none;
    height:0px;
}

.wrap-content .attachment_photo_content {
    padding:0px 10px;
}

.wrap-content > .wp-video {
    width: 690px !important;
}

.wrap-content > .mejs-video {
    width: 690px !important;
}

.wrap-content table {
    width: 100%;
}

.wrap-content p:first-child {
    /*display: none;*/
}

.wrap-content b:first-child {
    display: none;
    height:0px; !important;
}

.padText {
    padding: 10px 0px 10px 0px;
    display: inline-block;
    color:black;
    font-style: normal;
    font-family: "FranklinITCProLight","Helvetica Neue Light","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
}

html body div#wrap-content.wrap-content div.boxImg div.cta_buttons.setCenter div#inCenter.inCenter div.wpr-single-offer-buttons.wpr-contact-me.single_button.iframe-below-icons div.padText,html body div#wrap-content.wrap-content div.boxImg div.cta_buttons.setCenter div#inCenter.inCenter div.wpr-single-offer-buttons.wpr-send-info.wpr-learn-more.single_button.iframe-below-icons div.padText,html body div#wrap-content.wrap-content div.boxImg div.cta_buttons.setCenter div#inCenter.inCenter div.wpr-single-offer-buttons.wpr-make-appointment.wpr-set-appointment.single_button.iframe-below-icons div.padText,html body div#wrap-content.wrap-content div.boxImg div.cta_buttons.setCenter div#inCenter.inCenter div.wpr-single-offer-buttons.wpr-price-it.wpr-price-request.single_button.iframe-below-icons div.padText
{
    color: white;
}
div#wrap-content h2 .padText {
    font-size: 16px;
}
p:empty {
    display: none;
    height: 0px;
}
p {
    margin:0px;
}

.hideBlock {
    display: none;
    height:0px; !important;
}

.fixImage {
    width: auto !important;
    border: 1px solid #dcd7d7;
    margin-top: 20px;
}

.wrap-content table {
    background: #f9f9fb;
}

.wrap-content>.padText:nth-child(2) {
    display:none;
}

.removeBlock {
    display: none !important;
    height:0px; !important;

}

.wrap-content .attachment_article_content {
    padding: 0px 10px;

}

.wrap-content .wpr_brooksbrothers table,.wrap-content .wpr_brooksbrothers tr,.wrap-content .wpr_brooksbrothers td  {
    padding:0px !important;
    height:0px;
}
.wrap-content br {
    height:0px;
    display:none;
}
.cta_buttons {
    bottom: 0;
    transform: translate(0, -70px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    right: 0;
    height:0px;
    margin-left: 0px;
    margin-right: 0px;
    transition: all 0.5s ease 0s;

}
.inCenter-button{
    position: absolute;
    top: -15px;
    right: -12px;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    line-height: 25px;
    z-index: 2;
    cursor: pointer;
    display: none;
    padding-bottom: 5px;
}
.cta_buttons .inCenter {

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)) !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-right: 0px;
    transition: all 0.5s ease 0s;
    width:100%;

}

.cta_buttons .single_button {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    margin: 20px auto;
    text-align: center;
    color:unset !important;
    background: #4d4d4d;
    padding: 10px;
    max-width: 90px;
    min-height: 90px;
	min-width: 90px;
    /* z-index: 9999; */
}
.cta_buttons .single_button:hover{
    background: #292929;
}
.cta_buttons .single_button:active{
    background: #ba9b00;
}
.cta_buttons .single_button .icon_container {
	/*    box-shadow: 0px 0px 0 3px rgba(255,255,255,0.2);
    border-radius: 10px;
    background-color: rgba( 0, 0, 0, 0.502 );*/
	/*width: 70px;
    height: 70px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta_buttons .single_button .cta_icon {
    /*width: 40px;
    height: 40px;*/
    min-width: auto;
    min-height: auto;
	object-fit: contain;
    max-width: 100%;
    width: auto;
}
.cta_buttons .single_button.white-bg .icon_container {
    font-family:  'Open Sans', sans-serif !important;
}

.cta_buttons .single_button.white-bg {
    font-family:  'Open Sans', sans-serif !important;
}

.cta_buttons .single_button p, .offers .grid_wrapper .single_post_item .featured_image_container .cta_buttons .single_button p {
     font-family:   'Open Sans', sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
}

.cta_buttons .single_button.loading .icon_container {
    /*background: white;*/
    /*border-radius: 10px;*/
   /* width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:unset !important;*/
}

.cta_buttons .single_button p {
    font-size: 13.83px;
    letter-spacing: 0;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top:10px;
	text-transform: uppercase;
    margin-top: 5px;
    line-height: 15px;
}
.single_button p {
    font-family: 'Open Sans', sans-serif !important;
}
.single_button p {
    font-family: 'Open Sans', sans-serif !important;
}
.cta_buttons .single_button p.make-a{
    font-size: 11.81px;
}

.cta_buttons .single_button.loading .icon_container .cta_icon {
    /*display: none;*/
}

.cta_buttons .setCenter {
    margin: 0 auto;
}



.cta_buttons {

    max-width: 100%;

}


a:-webkit-any-link {
    color: unset !important;
    cursor: pointer;
    text-decoration: underline !important;
}
.source_link {
    font-weight: bold; 
    font-size: 14px;
    text-decoration: underline !important;
}
.source_link a {
    color: #001ff2 !important;
}
.cta_buttons .iframe-below-icons .icon_container {
    margin: 0 auto !important;
    align-self: end;
}
.pulse {
 width:60px;
 height:60px;
 border-radius:40px;
 background-color:#fff;
 -webkit-animation:scaleout 1.0s infinite ease-in-out;
 animation:scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes scaleout {
 0% {
  -webkit-transform:scale(0)
 }
 100% {
  -webkit-transform:scale(1);
  opacity:0
 }
}
@keyframes scaleout {
 0% {
  -webkit-transform:scale(0);
  transform:scale(0)
 }
 100% {
  -webkit-transform:scale(1);
  transform:scale(1);
  opacity:0
 }
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    }
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }

.post-content p,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}

@media only screen and (max-width: 500px){
    .cta_buttons .single_button{
        /* min-height: auto;
        min-width: auto; */
        padding: 15px;
        margin-bottom: 5px !important;
        z-index: 15;
    }
    .cta_buttons .single_button p{
        /* display: none; */
    }
    .cta_buttons{
        position: absolute !important;
        top: 70px;
        height: 100%;
    }
    .cta_buttons .inCenter{
        background: none !important;
        position: relative;
    }
    .cta_buttons .single_button .icon_container {
        width: auto;
        height: auto;
    }
    .cta_buttons .single_button.white-bg{
        margin: 0px 0px 5px 0px !important;
        padding: 10px;
    }
    .gif{
        display: grid !important;
    }
    .inCenter-button{
        /* display: block; */
    }

}
.boxImg {
    cursor: pointer;
    position: relative;
}
.inCenter {
    visibility: hidden;
    transition: none !important;
}
.boxImg:hover .inCenter {
    visibility: visible;
}
.boxImg:hover .gif {
    display: grid;
}
.entry-content{
    position: relative;
}
.cta_buttons{
    z-index: 0;
    position: relative;
}
.opa{
    opacity: 1 !important;
}
.gif{
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* background: #ffffff; */
    display: none;
  /*   background: radial-gradient(#fff, #ffffffe6, #fff9); */
  z-index: 10;
}
.gif img{
    max-width: 200px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}
.boxImg:hover ~ .gif {
    display: grid !important;
}
@media only screen and (max-device-width: 800px){
.cta_buttons .single_button .cta_icon {
    width: 20px;
    height: 20px;
}

/* .cta_buttons .single_button .icon_container {
    width: 50px;
    height: 50px;
} */
.cta_buttons .single_button p {
    /* display: none; */
}
.cta_buttons {
    transform: translate(0, -35px);
}
.cta_buttons .single_button {
    /* margin: 0px; */
        min-width: auto;
    min-height: auto;
}
    .inCenter {
        /* visibility: hidden !important; */
    }
    .cta_buttons .inCenter{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        grid-column-gap: 5px;
    }
    .cta_buttons .single_button{
        margin: 0;
        margin-bottom: 5px !important;
        width: 90px;
        height: 90px;
    }
}

/* Ugurcan */
.twitter-tweet {
    display: none !important;
}

/* Radar animation for post images */
@keyframes radar-animation {
    0% {
        transform: translateZ(0) scale(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(0) scale(1);
        opacity: 0;
    }
}

.post-content .post-image {
    display: block;
    position: relative;
    user-select: none !important;
    z-index: 100;
}

.post-content .post-image:before,
.post-content .post-image:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border: 6px solid #fff;
    pointer-events: none;
    opacity: 1;
    border-radius: 50%;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-origin: center center; /* see note above */
    animation: radar-animation 1s cubic-bezier(0,0.2,0.8,1) infinite;
    z-index: 10;
}

.post-content .post-image:after {
    animation-delay: -0.5s;
}