@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  #main_header .header_container .logo_container {
    display: inline-block;
    float: left;
    width: 35% !important; }
    #main_header .header_container .logo_container a {
      display: inline-block; }
      #main_header .header_container .logo_container a img {
        display: inline-block; }
  #main_header .header_container .menu_container {
    display: inline-block;
    float: left;
    width: 65%;
    margin-top: 5px; }
    #main_header .header_container .menu_container .ubermenu-main .ubermenu-item-level-0 .ubermenu-target .ubermenu-target-text {
      max-width: 70px; }
  .wpr-header-content .wpr-header-industries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-justify-content: space-between; }
  .site-content.comming-soon-page .wpr-vast-selection .wpr-coming-selection-content {
    -webkit-flex-wrap: wrap; }
  .site-content.comming-soon-page .wpr-coming-salesman .wpr-coming-salesman-content div {
    min-height: 150px; } }
