#lbt-login-form-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
	z-index: 9999999;
}

.lbt-auth-form-section {
	margin: auto;
    position: fixed;
    overflow-y: auto;
    background: rgba(0,0,0);
    width: 100%;
    max-width: 500px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 0 30px 30px 30px;
	z-index: 99999999;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
}

.lbt-login-form-social {
	text-align: center;
}

#lbt-register-form-section {
	max-width: 930px;
}

.lbt-auth-form-section.lbt-register-form-in-page#lbt-register-form-section {
	position: relative;
	max-width: 100%;
	z-index: 0;
}

.lbt-register-form-info {
	display: flex;
	box-sizing: border-box;
	padding-top: 30px;
}

.lbt-register-form-left-side, .lbt-register-form-right-side {
	flex: 0 0 50%;
}

.lbt-register-form-left-side {
	padding-right: 30px;
	text-align: center;
}

.lbt-register-form-left-side h2 {
	margin: 40px 0 25px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400 !important;
    font-size: 36px;
}

.lbt-auth-form-section .lbt-login-form-header {
    background: #000000;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.lbt-login-form-header img {
	width: 300px;
	height: auto;
}

.lbt-auth-form-section .lbt-login-form-close {
    margin-left: auto;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    font-size: 44px;
    font-weight: 600;
	display: inline-block;
    transition: all ease-in-out 0.2s;
}

.lbt-auth-form-section .lbt-login-form-close:hover {
	color: red;
    outline: none;
    border: none;
}

.lbt-auth-form-section .lbt-login-form-social {
    text-align: center;
    padding: 5px 0;
	margin-bottom: 10px;
}

.lbt-auth-form-section .lbt-login-form-footer {
    text-align: center;
    padding: 5px;
}

.lbt-login-form-footer a {
	color: #fff;
}

.lbt-login-form-footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.lbt-auth-form-section label {
    display: block;
	font-family: "Barlow", sans-serif;
    font-style: normal;
    font-stretch: semi-condensed;
}

.lbt-auth-form-section input {
    width: 100%;
	font-size: inherit;
    font-family: inherit;
    padding: 5px 4px !important;
    letter-spacing: normal;
    background-color: #fff !important;
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-radius: 4px !important;
    border-right: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
    color: #000 !important;
}

.lbt-auth-form-section .lbt-form-field-group {
    margin-bottom: 15px;
}

.lbt-form-field-group label {
	margin-bottom: 5px;
	font-family: "Barlow", sans-serif;
    font-style: normal;
    font-stretch: semi-condensed;
	letter-spacing: .5pt;
    white-space: nowrap;
}

.lbt-auth-form-section form .lbt-form-submit-button {
    margin: unset;
    background-color: #ba9917 !important;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    border-radius: 4px;
    border-right: 0px solid transparent;
    border-top: 0 solid transparent;
    color: #fff;
    line-height: 200%;
    padding-bottom: 5px;
    padding-top: 5px;
    width: auto;
    padding: 5px 10px;
	text-transform: uppercase;
	-webkit-appearance: none;
	text-align: center;
    text-decoration: none;
	font-family: Lato,sans-serif;
	letter-spacing: 0.2em;
    font-weight: 500;
    font-style: normal;
    font-stretch: semi-condensed;
    line-height: normal !important;
    font-size: 15px !important;
}

#lbt-login-form .lbt-form-submit-button:hover {
    opacity: 0.9;
}

.lbt-login-form-hide {
    display: none;
}

.lbt-auth-form-section .lbt-error-message, .lbt-register-error-message {
    padding: 10px;
    border: .75px solid #f00;
    color: #f00;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
	display: none;
}

#lbt-login-form .lbt-login-form-required-field:after {
    content: 'This field is required';
    display: block;
    color: #f00;
    font-size: 12px;
    font-weight: bold;
}

.lbt-passstrength-error-message {
    padding: 0;
    color: red;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 20px;
}

.lbt-or-label {
	text-align: center;
	margin: 20px 0;
}

.lbt-form-field-group-col-2 {
	display: flex;
}

.lbt-form-field-group-col-2 .lbt-form-field-group {
	flex: 0 0 50%;
}

.lbt-form-field-group-col-2 .lbt-form-field-group:first-child {
	padding-right: 5px;
}
.lbt-form-field-group-col-2 .lbt-form-field-group:last-child {
	padding-left: 5px;
}

.lbt-form-field-description {
	font-size: .813em;
	padding-top: 5px;
}

.lbt-auth-form-section::-webkit-scrollbar {
	width: 5px;
}

.lbt-auth-form-section::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.lbt-auth-form-section::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.lbt-password-strength {
	border: 1px solid #ddd;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 1.8;
    padding: 10px 5px;
    text-align: center;
    background-color: #eee;
    border-bottom: 3px solid #ddd;
	color: #000;
}

.lbt-password-strength.short {
	background-color: #ffa0a0;
    border-color: #f04040;
    border-bottom: 3px solid #f04040;
}

.lbt-password-strength.bad {
	background-color: #ffb78c;
    border-color: #ff853c;
    border-bottom: 3px solid #ff853c;
}

.lbt-password-strength.good {
	background-color: #ffec8b;
    border-color: #fc0;
    border-bottom: 3px solid #fc0;
}

.lbt-password-strength.strong {
	background-color: #c3ff88;
    border-color: #8dff1c;
    border-bottom: 3px solid #8dff1c;
}

.alert {
    background: white;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert.alert-success {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert.alert-danger {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.lbt-tmp-signup h1 {
	text-align: center;
}

@media (max-width: 560px) {
    .lbt-auth-form-section {
        width: 100%;
        left: 0;
        transform: none;
    }

	.lbt-form-field-group-col-2 {
		flex-direction: column;
	}

	.lbt-form-field-group-col-2 .lbt-form-field-group:first-child {
		padding-right: 0;
	}

	.lbt-register-form-info {
		flex-direction: column;
	}

	.signup-benifits li span {
		height: auto !important;
	}

	.lbt-form-field-group-col-2 .lbt-form-field-group:first-child {
		padding-right: 0;
	}

	.lbt-form-field-group-col-2 .lbt-form-field-group:last-child {
		padding-left: 0;
	}

	.lbt-auth-form-section form .lbt-form-submit-button {
		width: 100%;
	}
}
