@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500');

html {
    max-height: 70px;
}

.plugin {
    padding: 0 !important;
}

.plugin #providers .providers_group .providers_block .providers_row {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.plugin #providers .providers_group .providers_block .providers_row .provider {
    position: relative;
    width:33.333% !important;
    padding: 0;
    margin: 0 !important;
    background-position: center !important;
    background-size: 100% !important;
    background-repeat-y: no-repeat !important;
}

.plugin #providers .providers_group .providers_block .providers_row .provider .button {
    background: none;
    padding: 0;
    margin: 0 !important;
    height: 50px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plugin #providers .providers_group .providers_block .providers_row .provider .button span {
    display: none !important;
}

.plugin #providers .providers_group .providers_block .providers_row .provider .name {
    border: 0;
    font-size: 1rem;
    letter-spacing: 1.7px;
    color: #fff;
    text-align: center;
    font-family: "Barlow Semi Condensed";
    width: 100% !important;
    left: 0;
    padding: 0;
    top: 10px;
    margin: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
}