/*
Theme Name: Gaia

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/


body {
	direction: rtl;
	unicode-bidi: embed;
}

ul {
  padding-right: 0;
}

.media-img {float:right; margin-right: 0; margin-left: 24px;}
.media-img-right {float:left; margin-left: 0; margin-right: 24px;}

@media only screen and (min-width: 50.1875em) {
  .site-nav-bar {
    padding-right: 8px;
    padding-left: 14px;
  }
}
.menu-toggle {
  float: right;
}
.search-toggle {
  float: left;
  padding-left: 0;
  padding-right: 10px;
}
.site-search .search-field {
  padding-right: 10px;
  padding-left: 40px;
}
.site-search-close {
  right: auto;
  left: 0;
}
@media only screen and (min-width: 50.1875em) {
  .site-search .search-field {
    padding-left: 54px;
  }
}
/*.social-networks {
  float: left;
  padding-left: 14px;
  padding-right: 0;
  border-left: 1px solid #f2f2f2;
  border-right: 0;
}*/
.main-navigation {
  float: right;
}
.main-navigation li {
  float: right;
}
.main-navigation ul ul li.focus>ul,
.main-navigation ul ul li:hover>ul {
  right: 100%;
  left: auto;
}

.entry-meta span {
  margin-right: 0;
  margin-left: 10px;
}
.entry-meta .cat-links a {
  margin-right: 0;
  margin-left: 4px;
}

.entry-footer span,
.entry-share a {
  margin-right: 0;
  margin-left: 10px;
}

.more-link-wrap {
  text-align: right;
}

@media only screen and (min-width: 480px) {
  .social-networks {
    float: left;
  }
  .site-info {
    float: right;
  }
}

@media only screen and (min-width: 480px) {
  .hentry--list .flag-img {
    padding-right: 0;
    padding-left: 32px;
  }
  .hentry--list .entry-meta,
  .hentry--list .entry-title,
  .hentry--list .entry-footer {
    text-align: right;
  }
  .hentry--list .entry-meta span {
    margin-right: 0;
    margin-left: 10px;
  }
  .hentry--list .entry-footer span, .hentry--list .entry-share a {
    margin-right: 0;
    margin-left: 10px;
  }
}


.entry-author-img {
  float: none;
  margin-left: 0;
}
@media only screen and (min-width: 480px) {
  .entry-author-img {
    margin-left: 32px;
    float: right;
  }
}

@media only screen and (min-width: 480px) {
  .entry-author-name {
    text-align: right;
  }
}

.featured-post-content {
  left: auto;
  right: 24px;
  padding-right: 0;
  padding-left: 24px;
}
.featured-post-meta span {
  margin-right: 0;
  margin-left: 10px;
}

.comment-reply-title small {
  float: left;
}

.comment-list .children {
  margin-left: 0;
  margin-right: 108px;
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
  float: right;
}
.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
  float: left;
  text-align: left;
}

.widget_social_media a {
  margin-right: 0;
  margin-left: 10px;
}

.widget ol ol,
.widget ol ul,
.widget ul ol,
.widget ul ul {
  padding-left: 0;
  padding-right: 13px;
}
.widget_latest_comments .flag-img,
.widget_posts_list .flag-img {
  padding-right: 0;
  padding-left: 13px;
}

.widget_tag_cloud a {
  float: right;
  margin-right: 0;
  margin-left: 17px;
}

.cart-contents {
  float: left;
}

@media only screen and (min-width: 480px) {
  .footer-navigation ul {
    text-align: right;
  }
  .footer-navigation ul li {
    margin-right: 0;
    margin-left: 13px;
  }
}
