#tinymce {
  margin: 28px;
  color: #4f4f4f;
  font-family: Lato, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 0;
  clear: both;
  font-weight: 400;
}
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 23px; }
h4 { font-size: 17px; }

a,
a:visited {
  color: #7E6860;
}
a:hover {
  color: #423F37;
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.75;
  font-size: 17px;
}

ul,
ol {
  margin-left: 0;
  padding-left: 30px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
ul :last-child,
ol :last-child {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ul ul,
ol ol {
  margin-top: 10px;
}

dl :last-child {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
  margin-bottom: 10px;
}
dd {
  margin: 0 32px 32px;
}

blockquote {
  border-left: 4px solid #f2f2f2;
  padding-left: 23px;
  margin-bottom: 30px;
  font-style: italic;
  margin-left: 0;
}

code {
  background-color: #f1f1f1;
  padding: 4px 6px;
}
pre {
  background-color: #f1f1f1;
  font-size: 15px;
  font-family: "Courier 10 Pitch",Courier,monospace;
  line-height: 1.6;
  padding: 1.6em;
  margin-bottom: 1.6em;
}
ins,
mark {
  background: #fff9c0;
  text-decoration: none;
}

table {
  font-size: 17px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-width: 1px 0 0 1px;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1.5em;
}
th,
td {
  padding: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-width: 0 1px 1px 0;
}

img {
  max-width: 100%;
  height: auto;
}
.alignleft,
.alignright {
  display: inline;
  margin-bottom: 1.777em;
}
.alignleft {
  margin-right: 1.777em;
}
.alignright {
  margin-left: 1.777em;
}

.html5-captions .wp-caption {
  margin-bottom: 1.777em;
  max-width: 100%;
}
.wp-caption.alignleft {
  margin-right: 1.777em;
}
.wp-caption.alignright {
  margin-left: 1.777em;
}
.wp-caption .wp-caption-dd {
  margin: .8075em 0;
  font-size: 14px;
}
